@use "../../../constants/colors" as colors;
@use "../../../constants/mixins" as mixins;

.nodee {
  width: 48.75%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: colors.$divider;

  .name_location {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    font-size: 0.875rem;

    span {
      font-size: 0.625rem;
      color: colors.$textsecondary;
    }
  }

  .private_public {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    width: 100%;
    margin-top: 0.375rem;

    span {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      width: 2rem;
      height: 2rem;
      padding: 0.5rem;
      border-radius: 50%;
      background-color: colors.$divider;
    }

    .cost {
      font-size: 0.75rem;
      font-weight: 500;
    }
  }
}
