#appbarctr {
  width: 100%;
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
  margin-top: 1.25rem;
}

#appbarctr .uname {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#appbarctr .uname p {
  font-size: 1.25rem;
  font-weight: lighter;
  text-align: center;
  color: var(--textprimary);
}

#appbarctr button {
  border: 0;
  outline: none;
  margin-top: 0.25rem;
  outline-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--textsecondary);
}
