.outputs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
}

.outputs p {
  text-align: center;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--textprimary);
}

.outputs button {
  width: 100%;
  padding: 0.5rem;
  border: 0;
  border-radius: 0.25rem;
  outline: none;
  outline-color: transparent;
  background-color: var(--danger);
  font-size: 0.875rem;
  color: var(--textprimary);
}

.errroutput {
  justify-content: space-between;
}

.errroutput p {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  font-weight: 300;
  color: var(--danger);
}

.errroutput button {
  border-radius: 0.375rem;
  font-family: "Open Sans", sans-serif;
  background-color: var(--divider);
}
