@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

.outputs {
  @include mixins.useFlex(column, nowrap, center, center, 0.5rem);
  width: 100%;
  height: 100%;

  p {
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
    color: colors.$textprimary;
  }

  button {
    @include mixins.useButton();
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: colors.$danger;
    font-size: 0.875rem;
    color: colors.$textprimary;
  }
}

.errroutput {
  @include mixins.useFlex(column, nowrap, center, space-between, 0.5rem);

  p {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-weight: 300;
    color: colors.$danger;
  }

  button {
    @include mixins.useBaseFont();
    border-radius: 0.375rem;
    background-color: colors.$divider;
  }
}
