#sendethfromtoken,
#consumesharedkey {
  width: 95%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sendethfromtoken img,
#consumesharedkey img {
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
}

#sendethfromtoken p,
#consumesharedkey p {
  text-align: center;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1rem;
  color: var(--textprimary);
}

#sendethfromtoken p {
  padding-left: 3rem;
  padding-right: 3rem;
}

#sendethfromtoken button,
#consumesharedkey button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--textprimary);
  background-color: var(--danger);
  border-radius: 0.25rem;
  cursor: pointer;
}

#sendethfromtoken button:disabled {
  cursor: not-allowed;
}

#consumesharedkey .airwallx {
  margin-top: 0.5rem;
  width: 100%;
}

#consumesharedkey .airwallx p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: unset;
  text-align: left;
  font-weight: 500;
  font-size: 1rem;
}

#consumesharedkey .airwallx span {
  font-weight: 300;
  font-size: 0.875rem;
  color: var(--textsecondary);
}
