#sendeth,
#sendethfromtoken,
#sharewalletaccess,
#importkey,
#authorise,
#consumesharedkey {
  width: 95%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sendeth img,
#sendethfromtoken img,
#sharewalletaccess img,
#importkey img,
#authorise img,
#consumesharedkey img {
  margin-top: 1rem;
  width: 3rem;
  height: 3rem;
}

#sendeth p,
#sendethfromtoken p,
#sharewalletaccess p,
#importkey p,
#authorise p,
#consumesharedkey p {
  text-align: center;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1rem;
  color: var(--textprimary);
}

#authorise .timevalidlabel {
  width: 100%;
  padding: unset;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--textprimary);
}

#sendethfromtoken p {
  padding-left: 3rem;
  padding-right: 3rem;
}

#sharewalletaccess p {
  padding-left: unset;
  padding-right: unset;
  font-size: medium;
}

#sharewalletaccess .usd_balance {
  width: 100%;
  text-align: left;
  font-family: "Raleway", serif;
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--textprimary);
}

#sharewalletaccess .ethereum_balance {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

#sharewalletaccess .my_bal {
  font-size: 0.875rem;
}

#sharewalletaccess .usd_balance .eth_bal {
  margin-left: 0.5rem;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: var(--textsecondary);
}

#sharewalletaccess .timevalidlabel {
  width: 100%;
  margin-top: 0.75rem;
  text-align: left;
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--textprimary);
}

#sendeth button,
#sendethfromtoken button,
#sharewalletaccess button,
#importkey button,
#authorise button,
#consumesharedkey button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--textprimary);
  background-color: var(--danger);
  border-radius: 0.25rem;
  cursor: pointer;
}

#sendeth button:disabled,
#sendethfromtoken button:disabled,
#sharewalletaccess button:disabled,
#importkey button:disabled {
  cursor: not-allowed;
}

#sharewalletaccess .quantity {
  width: 100%;
  text-align: left;
  font-size: 0.75rem;
}

#sharewalletaccess .quantity span {
  font-weight: 600;
}

#authorise .keyshare {
  width: 100%;
  margin-top: 1rem;
  padding: unset;
  text-align: left;
  font-size: small;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
  color: var(--textsecondary);
}

#authorise .keyshare span {
  font-weight: 600;
  color: var(--textprimary);
}

#consumesharedkey .airwallx {
  margin-top: 0.5rem;
  width: 100%;
}

#consumesharedkey .airwallx p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  padding: unset;
  text-align: left;
  font-weight: 500;
  font-size: 1rem;
}

#consumesharedkey .airwallx span {
  font-weight: 300;
  font-size: 0.875rem;
  color: var(--textsecondary);
}
