@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#mysecrets {
  @include mixins.useFlex(row, wrap, flex-start, space-between, 0);
  width: 100%;

  &>._secret {
    width: 49%;
    margin-bottom: 0.5rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    .secret-info {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
      padding: 0.5rem;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }

      .secret-details {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
        font-size: 0.75rem;
        color: colors.$textsecondary;
        font-weight: bold;

        span {
          font-size: 0.875rem;
          font-weight: 600;
          color: colors.$textprimary;
        }
      }
    }

    .secret-actions {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      width: 100%;
      height: 2.5rem;
      padding: 0.25rem 0;
      border-top: 1px solid colors.$divider;

      .divider {
        width: 1px;
        height: 100%;
        background-color: colors.$divider;
      }

      button {
        @include mixins.useButton();
        width: 48%;
        font-weight: 500;
        text-align: center;
        color: colors.$textprimary;
      }
    }
  }
}

#sharedsecrets {
  @include mixins.useFlex(row, wrap, flex-start, space-between, 0);
  width: 100%;

  ._sharedsecret {
    width: 49%;
    margin-bottom: 0.5rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    .secret_info {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      padding: 0.5rem;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }

      .sharedfrom {
        @include mixins.useFlex(column, nowrap, center, center, 0.125rem);
        padding: 0.125rem 0.5rem;

        span {
          font-size: 0.625rem;
          font-weight: 600;
        }
      }
    }

    .usesecret {
      @include mixins.useButton();
      width: 100%;
      height: 2.5rem;
      border-top: 1px solid colors.$divider;
      font-weight: 500;
      text-align: center;
      color: colors.$textprimary;
    }
  }
}