@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#mysecrets {
  @include mixins.useFlex(row, wrap, flex-start, space-between, 0.5rem);
  width: 100%;
  margin-top: 0.5rem;

  & > ._secret {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    width: 48%;
    padding: 1rem;
    border: 0;
    outline: none;
    outline-color: transparent;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    span {
      text-transform: uppercase;
      font-size: 0.875rem;
      font-weight: 700;
      color: colors.$textprimary;
    }
  }
}

#sharedsecrets {
  @include mixins.useFlex(row, wrap, flex-start, space-between, 0.5rem);
  width: 100%;

  ._sharedsecret {
    width: 48%;
    padding: 0.5rem;
    border-radius: 0.375rem;
    background-size: 5rem;
    background-attachment: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-color: colors.$divider;

    .owner {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);

      .secretname {
        text-transform: uppercase;
        font-size: 0.875rem;
        font-weight: 700;
      }

      .sharedfrom {
        @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
        padding: 0.125rem 0.5rem;
        border-radius: 1rem;
        font-size: 0.625rem;
        font-weight: 600;
        background-color: colors.$divider;
      }
    }

    .secretutility {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
      border-radius: 1rem;
      margin-top: 1.5rem;
      font-size: 0.75rem;
      font-weight: 600;
    }
  }
}
