#mysecrets {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
}

#mysecrets > ._secret {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 48%;
  padding: 1rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  border-radius: 0.25rem;
  background-color: var(--divider);
}

#mysecrets ._secret span {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--textprimary);
}

#mysecrets .skeletons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.75rem;
  width: 100%;
}

#sharedsecrets {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
}

#sharedsecrets ._sharedsecret {
  width: 48%;
  padding: 0.5rem;
  border-radius: 0.375rem;
  background-size: 5rem;
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(248, 250, 252, 0.05);
}

#sharedsecrets > ._sharedsecret .owner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#sharedsecrets > ._sharedsecret .owner .secretname {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
}

#sharedsecrets > ._sharedsecret .owner .sharedfrom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.125rem 0.5rem;
  border-radius: 1rem;
  font-size: 0.625rem;
  font-weight: 600;
  background-color: var(--divider);
}

#sharedsecrets > ._sharedsecret .hash {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  border-radius: 1rem;
  margin-top: 2rem;
  font-size: 0.75rem;
  font-weight: 600;
}
