#mysecrets {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 100%;
  margin-top: 0.5rem;
}

#mysecrets > ._secret {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 48%;
  padding: 1rem;
  border: 1px solid var(--divider);
  outline: none;
  outline-color: transparent;
  border-radius: 0.25rem;
  background-color: transparent;
}

#mysecrets ._secret span {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--textprimary);
}

#sharedsecrets {
  width: 100%;
  margin-top: 1rem;
}

#sharedsecrets .title {
  font-size: 1.5rem;
  font-weight: bold;
}

#sharedsecrets ._sharedsecret {
  padding: 0.25rem 0;
  border-bottom: 1px solid var(--divider);
}

#sharedsecrets > ._sharedsecret .owner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#sharedsecrets > ._sharedsecret .owner .secretname {
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
}

#sharedsecrets > ._sharedsecret .owner .sharedfrom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  padding: 0.125rem;
  border-radius: 1rem;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--success);
}

#sharedsecrets > ._sharedsecret .metadata .hash {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: var(--textsecondary);
}

#sharedsecrets > ._sharedsecret .metadata .value {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 0.25rem;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: pre-wrap;
}
