@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#walletbalance {
  .title {
    font-size: 0.875rem;
    color: colors.$textsecondary;
  }

  .totalbalance {
    font-size: 2.75rem;
    font-weight: 600;
  }
}

.assetbalance {
  @include mixins.useFlex(row, nowrap, center, space-between, 0);
  margin: 0 -1rem;
  margin-bottom: 1.5rem;
  padding: 0 1rem;

  .token {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);

    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
    }

    .symbol_price {
      .symbol {
        span {
          font-weight: 600;
          text-transform: uppercase;
        }
      }

      .price {
        @include mixins.useFlex(row, nowrap, flex-start, flex-start, 0.5rem);
        font-weight: 600;

        span {
          &.positive {
            color: colors.$success;
          }

          &.negative {
            color: colors.$danger;
          }
        }
      }
    }
  }

  .balance {
    @include mixins.useFlex(column, nowrap, flex-end, flex-end, 0);

    p {
      font-weight: bold;
    }
  }
}

.walletaction {
  @include mixins.useFlex(column, nowrap, center, center, 0.25rem);
  width: fit-content;

  .iconctr {
    @include mixins.useFlex(column, nowrap, center, center, 0.25rem);
    @include mixins.useButton();

    & {
      width: 3.375rem;
      height: 3.375rem;
    }
  }

  .text {
    font-weight: 600;
  }
}
