#walletbalance {
  padding: 0.5rem 1rem;
  /* border-radius: 0.5rem; */
  /* background-color: rgba(235, 235, 235, 0.5); */
}

#walletbalance .bal {
  font-size: small;
  font-weight: 600;
  color: var(--textsecondary);
}

#walletbalance .balinusd {
  font-family: "Raleway", serif;
  font-size: 2.25rem;
  font-weight: 600;
}

#walletbalance .balinusd span {
  margin-left: 0.5rem;
  font-size: 1rem;
  color: var(--textsecondary);
}
