@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#walletbalance {
  margin-top: 0.875rem;

  .bal {
    width: fit-content;
    font-size: small;
    font-weight: 600;
    color: colors.$textsecondary;
  }

  .balusd_addfunds {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    width: 100%;
    margin: 0.5rem 0;

    .balinusd {
      @include mixins.useAltFont();
      font-size: 2.25rem;
      font-weight: 600;
      vertical-align: middle;
    }

    .actions {
      @include mixins.useFlex(row, nowrap, center, flex-end, 0.5rem);

      button {
        @include mixins.useFlex(row, nowrap, center, center, 0);
        @include mixins.useButton();
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
        background-color: colors.$accent;
      }
    }
  }

  .toggle-bal {
    margin-left: 0.25rem;
  }

  .actions {
    @include mixins.useFlex(row, wrap, center, space-between, 0);
    width: 100%;
    margin-top: 0.875rem;

    ._action {
      @include mixins.useFlex(row, nowrap, center, space-between, 0.25rem);
      width: 24%;
      height: 3rem;
      padding: 0 0.375rem;
      border: 1px solid rgba($color: colors.$textsecondary, $alpha: 0.25);
      border-radius: 0.375rem;
      font-size: 0.75rem;
      font-weight: bold;
      color: colors.$textprimary;

      .icons {
        @include mixins.useFlex(row, nowrap, center, center, 0);
        height: 100%;

        .icon {
          font-size: 1rem;
          color: colors.$textsecondary;
        }
      }
    }
  }

  ._asset {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    margin-top: 0.5rem;
    padding: 0.75rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 500;

    div {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);

      p {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      }

      span {
        font-size: 0.75rem;
        font-weight: 400;
        color: colors.$textsecondary;
      }
    }

    img {
      width: 2rem;
      height: 2rem;
      object-fit: cover;
      object-position: center;
      border-radius: 50%;
    }

    .balance {
      @include mixins.useFlex(column, nowrap, flex-end, flex-end, 0);
      width: 40%;
      font-size: 0.875rem;
      font-weight: bold;
      text-align: right;

      .fiat {
        font-weight: 400;
        font-size: 0.75rem;
        color: colors.$textsecondary;

        .price_change {
          font-size: 0.625rem;
          font-weight: bold;
        }
      }
    }
  }
}