#walletbalance {
  margin-top: 1rem;
}

#walletbalance .bal {
  font-size: small;
  font-weight: 600;
  color: var(--textsecondary);
}

#walletbalance .balinusd {
  margin-bottom: 0.5rem;
  font-family: "Raleway", serif;
  font-size: 2.25rem;
  font-weight: 600;
}

#walletbalance ._asset,
#walletbalance ._asset div,
#walletbalance ._asset div p,
#walletbalance ._asset .balance {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.25rem;
}

#walletbalance ._asset {
  align-items: center;
  justify-content: space-between;
  gap: unset;
  margin-top: 0.5rem;
  padding: 0.75rem;
  border: 1px solid var(--divider);
  border-radius: 0.375rem;
  font-size: 0.875rem;
  font-weight: 500;
}

#walletbalance ._asset div {
  align-items: center;
  gap: 0.5rem;
}

#walletbalance ._asset img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

#walletbalance ._asset div p {
  flex-direction: column;
  gap: unset;
  font-size: 0.875rem;
}

#walletbalance ._asset div span {
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--textsecondary);
}

#walletbalance ._asset .balance {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: unset;
  font-size: 0.875rem;
  font-weight: bold;
}

#walletbalance ._asset .balance .fiat {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--textsecondary);
}
