@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.lentasset {
  @include mixins.useFlex(row, nowrap, center, space-between, 0);
  width: 100%;
  height: 5.875rem;
  border: 1px solid colors.$divider;
  border-radius: 0.375rem;
  padding-left: 0.375rem;

  .li {
    @include mixins.useFlex(row, nowrap, initial, initial, 1rem);
    height: 100%;
    padding: 0.25rem 0;

    .asset {
      @include mixins.useFlex(column, nowrap, center, space-between, 0);
      height: 100%;

      img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        object-position: center;
      }

      .owner {
        @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
        padding: 0.125rem 0.25rem;
        border-radius: 1rem;
        font-size: 0.625rem;
        font-weight: 600;
        background-color: colors.$divider;
      }

      .amount {
        font-size: 0.875rem;
        font-weight: bold;

        span {
          font-size: 0.625rem;
          font-weight: 300;
          color: colors.$textsecondary;
        }
      }
    }

    .yields {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.5rem);
      height: 100%;

      .dist {
        @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
        font-size: 0.75rem;
        font-weight: 600;
      }

      p {
        font-size: 0.75rem;

        span {
          font-weight: 600;
          font-size: 0.75rem;
        }
      }
    }
  }

  .useasset {
    @include mixins.useFlex(column, nowrap, center, center, 0.25rem);
    width: 6rem;
    height: 100%;
    border-radius: 0 0.375rem 0.375rem 0;
    background-color: colors.$divider;
    color: colors.$textprimary;

    .util {
      font-size: 0.75rem;
    }
  }
}
