@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.borrowedsecret {
  @include mixins.useFlex(row, nowrap, center, space-between, 0);
  width: 100%;
  height: 4.75rem;
  border: 1px solid colors.$divider;
  border-radius: 0.375rem;
  padding-left: 0.375rem;

  .li {
    @include mixins.useFlex(row, nowrap, center, inital, 0.5rem);
    height: 100%;
    padding: 0.25rem 0;

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    .asset {
      @include mixins.useFlex(column, nowrap, center, center, 0.25rem);
      height: 100%;

      .owner {
        @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
        padding: 0.125rem 0.25rem;
        border-radius: 1rem;
        font-size: 0.625rem;
        font-weight: 600;
        background-color: colors.$divider;
      }

      .amount {
        font-size: 0.875rem;
        font-weight: bold;

        span {
          font-size: 0.625rem;
          font-weight: 300;
          color: colors.$textsecondary;
        }
      }

      .fee {
        @include mixins.useBaseFont();
        font-size: 0.75rem;
        font-weight: 600;
      }
    }
  }

  .useasset {
    @include mixins.useFlex(column, nowrap, center, center, 0.25rem);
    width: 6rem;
    height: 100%;
    border-radius: 0 0.375rem 0.375rem 0;
    background-color: colors.$divider;
    color: colors.$textprimary;

    .util {
      font-size: 0.75rem;
    }
  }
}
