@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.phoneinput {
  @include mixins.useFlex(row, nowrap, center, space-between, 0);
  width: 100%;
  height: 3rem;
  border: 1px solid colors.$divider;
  border-radius: 0.375rem;

  .countryselect {
    @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
    @include mixins.useNumberInput();
    width: 5rem;
    height: 100%;
    border-radius: 0.25rem 0 0 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: colors.$divider;
  }

  input {
    @include mixins.useButton();
    @include mixins.useBaseFont();
    width: calc(100% - 5rem);
    height: 100%;
    padding: 0 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: colors.$textprimary;

    &::placeholder {
      color: colors.$textsecondary;
    }
  }
}

.countrycodes {
  width: 100%;

  p {
    margin: 0.5rem;
    font-size: 0.875rem;
    font-weight: 600;
    text-align: center;
    color: colors.$textsecondary;
  }

  &>button {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    @include mixins.useButton();
    @include mixins.useBaseFont();
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.875rem 0.5rem;
    border: 1px solid colors.$divider;
    border-left: 0;
    border-right: 0;
    color: colors.$textprimary;

    span {
      font-size: 0.75rem;
      font-weight: bold;
    }
  }
}