@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.phoneinput {
  @include mixins.useFlex(row, nowrap, center, space-between, 0);
  width: 100%;
  height: 3.25rem;
  border: 1px solid colors.$divider;
  border-radius: 0.5rem;
  transition: all ease-in-out 0.25s;

  .countryselect {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    width: 5rem;
    height: 100%;
    padding: 0 0.75rem;
    border-right: 1px solid colors.$divider;
    transition: all ease-in-out 0.25s;

    .country-flag {
      margin-right: 0.25rem;
    }

    .country-code {
      font-weight: 600;
      transition: all ease-in-out 0.25s;
    }

    .dropdown-arrow {
      margin-left: 4px;
      font-size: 0.8rem;
      opacity: 0.7;
    }
  }

  .phone-input {
    @include mixins.useBaseFont();
    @include mixins.useOutline();
    transition: all ease-in-out 0.25s;

    & {
      flex: 1;
      width: 100%;
      height: 100%;
      padding-left: 0.5rem;
      font-size: 1rem;
      font-weight: 500;
      color: colors.$textprimary;

      &::placeholder {
        color: colors.$textsecondary;
      }
    }
  }
}

.countrycodes {
  width: 90vw;
  max-height: 60vh;
  color: colors.$textprimary;

  .desc {
    margin-top: 0.5rem;
    font-weight: 600;
    text-align: center;
  }

  .search-container {
    margin: 0.5rem 0 0.75rem 0;
    padding: 0 0.5rem;

    .search-input {
      @include mixins.useBaseFont();

      & {
        @include mixins.useOutline();
        width: 100%;
        padding: 0.875rem 0.375rem;
        border-bottom: 1px solid colors.$divider;
        font-size: 0.875rem;
        font-weight: 600;
        color: colors.$textprimary;

        &::placeholder {
          color: colors.$textsecondary;
        }
      }
    }
  }

  .no-results {
    padding: 0.5rem;
    text-align: center;
    color: colors.$textsecondary;
  }
}

.country-option {
  @include mixins.useFlex(row, nowrap, center, space-between, 0);
  @include mixins.useBaseFont();
  @include mixins.useOutline();
  width: 100%;
  padding: 0.75rem;
  color: colors.$textprimary;

  .country-info {
    display: flex;
    align-items: center;

    .country-flag {
      font-size: 1.25rem;
      margin-right: 0.5rem;
    }

    .country-name {
      font-weight: 400;
    }
  }

  .country-code {
    color: colors.$textsecondary;
    font-weight: 500;
  }
}
