@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.digitsinput {
  .inputs {
    @include mixins.useFlex(row, nowrap, center, flex-start, 1rem);
    width: 100%;

    input {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      @include mixins.useButton();
      @include mixins.useAltFont();
      width: 3.625rem;
      height: 3.625rem;
      border: 1px solid colors.$divider;
      border-radius: 0.375rem;
      font-size: 1.5rem;
      font-weight: 600;
      text-align: center;
      vertical-align: middle;
      color: colors.$textprimary;
      transition: all ease-in-out 0.25s;

      &::placeholder {
        color: colors.$textsecondary;
      }

      &:not(:placeholder-shown) {
        background-color: colors.$divider;
      }
    }
  }

  .message {
    margin-top: 0.75rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: colors.$textsecondary;
  }
}
