@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#searchinput_ctr {
  @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);
  width: 100%;
  height: 2.625rem;
  padding: 0 0.5rem;
  border: 1px solid colors.$divider;
  border-radius: 0.375rem;
  background-color: colors.$divider;

  #searchinput {
    @include mixins.useButton();
    width: calc(100% - 1rem);
    height: 100%;
    color: colors.$textprimary;

    &::placeholder {
      color: colors.$textsecondary;
    }
  }
}
