@use '../../constants/colors' as colors;
@use '../../constants/mixins' as mixins;

.radio_btn_ctr {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.75rem);
    width: 100%;
    height: 3.75rem;
    margin-top: 0.75rem;
    padding: 0.5rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    .radio_ctr {
        @include mixins.useFlex(row, nowrap, center, center, 0);
        width: 0.875rem;
        height: 0.875rem;
        border: 1px solid colors.$divider;
        border-radius: 50%;
        background-color: colors.$divider;

        div {
            width: 60%;
            height: 60%;
            border-radius: 50%;
        }
    }

    .text_alt_text {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
        margin-top: unset;
        padding-top: unset;
        font-size: 0.875rem;
        font-weight: 500;

        span {
            font-size: 0.75rem;
            font-weight: 300;
            color: colors.$textsecondary;
        }
    }

}