@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#radio_btn_ctr {
  @include mixins.useFlex(row, nowrap, center, space-between, 0);
  width: 100%;
  padding: 0.5rem;
  border: 1px solid rgba($color: colors.$divider, $alpha: 0.25);
  border-radius: 0.5rem;
  transition: all ease-in-out 0.25s;

  .img_title_desc {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);

    .icons {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 0.375rem;
      background-color: rgba($color: colors.$divider, $alpha: 0.25);
    }

    img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
    }

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      font-weight: 600;

      span {
        font-size: 0.875rem;
        font-weight: 300;
      }
    }
  }

  &.checked {
    background-color: colors.$divider;
  }

  &.disabled {
    color: colors.$textsecondary;
  }
}

#currencypicker {
  width: 32%;
  padding: 0.5rem;
  border: 1px solid rgba($color: colors.$divider, $alpha: 0.25);
  border-radius: 0.5rem;
  transition: all ease-in-out 0.25s;

  @include mixins.phone-only {
    width: 49%;
  }

  .img_title_desc {
    img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: contain;
    }

    p {
      margin-top: 0.375rem;
      font-weight: 600;

      @include mixins.phone-only {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
        margin-top: unset;
      }

      span {
        font-size: 0.875rem;
        font-weight: 300;
      }
    }
  }

  .icon {
    @include mixins.useFlex(row, nowrap, center, flex-end, 0);
    width: 100%;
    margin-top: 0.5rem;

    @include mixins.phone-only {
      margin-top: unset;
    }
  }

  &.checked {
    background-color: colors.$divider;
  }
}
