@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#importawxkey {
  @include mixins.useFlex(column, nowrap, center, center, 0);
  width: 100vw;
  height: 80vh;
  padding: 1rem;

  img {
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    object-fit: contain;
    object-position: center;
  }

  .about {
    margin-top: 1rem;

    p {
      text-align: center;
      font-size: 0.875rem;
      color: colors.$textprimary;
    }

    .desc {
      margin-top: 0.25rem;
      color: colors.$textsecondary;
    }
  }

  button {
    @include mixins.useFlex(row, nowrap, center, center, 0.5rem);
    @include mixins.useButton();
    @include mixins.useBaseFont();
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: colors.$textprimary;
    background-color: colors.$accent;
    transition: all ease-in-out 0.25s;

    &:disabled {
      background-color: colors.$divider;
      color: colors.$textsecondary;
    }
  }
}
