@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#cancelorder {
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: colors.$textprimary;
  margin-bottom: 3.5rem;

  .msg {
    font-size: 0.875rem;
    font-weight: 300;
  }

  .span {
    @include mixins.useAltFont();
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem 0;
    border: 1px solid colors.$divider;
    border-left: 0;
    border-right: 0;
    font-weight: 600;
  }
}
