@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#polymarket {
  @include mixins.useTabsHeight();

  & {
    margin-top: unset;
    padding-top: 0.5rem;
  }

  .marketfilters {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    margin: 1rem -1rem 0 -1rem;
    padding: 0 1rem;
    border-bottom: 1px solid colors.$divider;

    button {
      @include mixins.useBaseFont();
      @include mixins.useOutline();

      & {
        padding: 0.375rem 0.625rem;
        border-bottom: 2px solid transparent;
        font-size: 0.875rem;
        font-weight: bold;
        color: colors.$textsecondary;
        transition: all ease-in-out 0.25s;

        &.active {
          border-bottom-color: colors.$textprimary;
          color: colors.$textprimary;
        }
      }
    }
  }

  .loading {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    width: 100%;
    margin-top: 1rem;
  }

  .markets {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.5rem);
    width: 100%;
    margin-top: 0.5rem;
    // padding-bottom: 2rem;

    .notrades {
      width: 100%;
      font-size: 0.875rem;
      text-align: center;
      color: colors.$textsecondary;
    }
  }
}

.marketctr {
  width: 100%;
  border: 1px solid colors.$divider;
  border-radius: 0.5rem;

  .img_title {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    padding: 0.375rem;

    img {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
      object-position: center;
      border-radius: 0.375rem;
    }

    p {
      font-size: 0.875rem;
    }
  }

  .marketconditions {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0);
    margin-top: 0.25rem;
    border: 1px solid colors.$divider;
    border-left: 0;
    border-right: 0;

    p {
      padding: 0.5rem;
      border-right: 1px solid colors.$divider;
      font-size: 0.875rem;
      font-weight: bold;

      span {
        font-weight: 400;
      }
    }
  }

  .marketactions {
    @include mixins.useFlex(row, nowrap, center, space-between, 0.375rem);
    margin: 0.5rem;

    button {
      @include mixins.useFlex(row, nowrap, center, center, 0.375rem);
      @include mixins.useOutline();
      @include mixins.useBaseFont();

      & {
        width: 50%;
        padding: 0.5rem;
        border-radius: 0.375rem;
        font-size: 0.875rem;
        font-weight: 600;
      }
    }

    .tx-yes {
      background-color: colors.$success;
    }

    .tx-no {
      background-color: colors.$danger;
    }
  }
}
