$primary: #242d39;
$textprimary: rgba(248, 250, 252, 1);
$textsecondary: rgba(127, 127, 127, 1);
$accent: rgb(73, 107, 204);
$danger: rgb(255, 82, 82);
$success: #0fb14d;
$divider: rgba(248, 250, 252, 0.05);
$boxshadow: rgba(0, 0, 0, 0.125);
$lightgradient: linear-gradient(
  to bottom,
  $divider,
  rgba(36, 45, 57, 0.85),
  rgba(36, 45, 57, 0.85)
);
$omgradient: linear-gradient(315deg, #e787c0, #ffb386);
