@use "./colors" as colors;
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@mixin phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin tablet-upwards {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1024px) {
    @content;
  }
}

@mixin big-desktop {
  @media only screen and (min-width: 1300px) {
    @content;
  }
}

@mixin useNumberInput() {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@mixin useBaseFont() {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: colors.$textprimary;
}

@mixin useFlex($flexDirection, $flexWrap, $alignItems, $justifyContent, $gap) {
  display: flex !important;
  flex-direction: $flexDirection;
  align-items: $alignItems;
  justify-content: $justifyContent;
  flex-wrap: $flexWrap;
  gap: $gap;
}

@mixin useOutline() {
  border: 0;
  outline: none;
  outline-color: transparent;
  background-color: transparent;
}

@mixin useButton() {
  @include useBaseFont();
  padding: 0.75rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  font-weight: 600;
  background-color: colors.$accent;
  box-shadow: colors.$innershadow;

  @include desktop() {
    cursor: pointer;

    &:disabled {
      cursor: not-allowed;
    }
  }
}

@mixin useTabsHeight() {
  width: 100vw;
  height: calc(100vh - 3.875rem);
  overflow-y: auto;
  padding: 1rem;
}
