@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#importkey {
  @include mixins.useFlex(column, nowrap, center, initial, 0);
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
  border: 1px solid colors.$divider;
  border-radius: 0.5rem;

  img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    object-position: center;
  }

  .title {
    padding: 0.5rem;
    text-align: center;
    font-size: 0.875rem;
    color: colors.$textprimary;
  }

  .keyutil {
    width: 100%;
    margin-top: 1rem;

    ._secret_utils {
      font-size: 0.75rem;
      font-weight: bold;
    }

    .util {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.75rem);
      width: 100%;
      height: 3.75rem;
      margin-top: 0.75rem;
      padding: 0.5rem;
      border: 1px solid colors.$divider;
      border-radius: 0.375rem;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: right;

      .radioctr {
        @include mixins.useFlex(row, nowrap, center, center, 0);
        width: 0.875rem;
        height: 0.875rem;
        border: 1px solid colors.$divider;
        border-radius: 50%;
        background-color: colors.$divider;

        div {
          width: 60%;
          height: 60%;
          border-radius: 50%;
        }
      }

      .purpose {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
        margin-top: unset;
        padding-top: unset;
        font-size: 0.875rem;
        font-weight: 500;

        span {
          font-size: 0.75rem;
          font-weight: 300;
          color: colors.$textsecondary;
        }
      }
    }
  }

  button {
    @include mixins.useFlex(row, nowrap, center, center, 0.5rem);
    @include mixins.useBaseFont();
    @include mixins.useButton();
    gap: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 0;
    font-size: 0.875rem;
    font-weight: 500;
    color: colors.$textprimary;
    background-color: colors.$accent;
    border-radius: 0.25rem;
    transition: all ease-in-out 0.25s;

    &:disabled {
      cursor: not-allowed;
      background-color: colors.$divider;
      color: colors.$textsecondary;
    }
  }

  .learnmore {
    width: 100%;
    margin-top: 0.5rem;
    padding-left: unset;
    text-align: left;
    font-size: 0.875rem;
    color: colors.$textsecondary;
  }
}