@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#secrets_container {
  .title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .claim-gpt {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    margin-top: 0.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    /**linear gradient**/
    background: linear-gradient(135deg, #4f46e5 25%, transparent 25%) -50px 0,
      linear-gradient(225deg, #4f46e5 25%, transparent 25%) -50px 0,
      linear-gradient(315deg, #4f46e5 25%, transparent 25%),
      linear-gradient(45deg, #4f46e5 25%, transparent 25%),
      linear-gradient(to bottom, #3b82f6 0%, #2563eb 100%);
    background-size: 100px 100px, 100px 100px, 100px 100px, 100px 100px,
      100% 100%;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      border-radius: 1rem;
      background: radial-gradient(circle at 0% 0%,
          rgba(255, 255, 255, 0.2) 0%,
          transparent 50%),
        radial-gradient(circle at 100% 0%,
          rgba(255, 255, 255, 0.2) 0%,
          transparent 50%),
        radial-gradient(circle at 100% 100%,
          rgba(255, 255, 255, 0.2) 0%,
          transparent 50%),
        radial-gradient(circle at 0% 100%,
          rgba(255, 255, 255, 0.2) 0%,
          transparent 50%);
      background-size: 50% 50%;
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
      background-repeat: no-repeat;
    }

    /**linear gradient**/

    span {
      font-weight: 600;
    }

    img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
      object-position: center;
    }
  }

  .secret_tabs {
    @include mixins.useFlex(row, nowrap, flex-start, flex-start, 1rem);
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    button {
      @include mixins.useButton();
      @include mixins.useBaseFont();
      padding: 0.25rem;
      border-bottom: 1px solid colors.$primary;
      font-size: 0.875rem;
      color: colors.$textsecondary;
      transition: all ease-in-out 0.25s;
    }

    .select_tab {
      border-color: colors.$textprimary;
      color: colors.$textprimary;
    }
  }

  .nokeys {
    font-size: 0.75rem;
    text-align: center;
    color: colors.$textsecondary;
  }
}