#btc-asset,
#eth-asset,
#usdt-asset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

#btc-asset img,
#eth-asset img,
#usdt-asset img {
  margin-top: 1rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

#btc-asset .address,
#eth-asset .address,
#usdt-asset .address {
  border: 0;
  outline: none;
  outline-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  color: var(--textsecondary);
}

#btc-asset .balance,
#eth-asset .balance,
#usdt-asset .balance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#btc-asset .balance p,
#eth-asset .balance p,
#usdt-asset .balance p {
  font-family: "Raleway", serif;
  font-size: 2.25rem;
  font-weight: 600;
}

#btc-asset .balance span,
#eth-asset .balance span,
#usdt-asset .balance span {
  font-size: small;
  font-weight: 600;
  color: var(--textsecondary);
}

#btc-asset .actions,
#eth-asset .actions,
#usdt-asset .actions {
  position: absolute;
  bottom: 1rem;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  width: 100%;
  padding: 0 1rem;
  margin-top: 2rem;
}

#btc-asset .actions .divider,
#eth-asset .actions .divider,
#usdt-asset .actions .divider {
  width: 100%;
  height: 1px;
  background-color: var(--divider);
}

#btc-asset .actions p,
#eth-asset .actions p,
#usdt-asset .actions p {
  width: 100%;
  font-size: 0.875rem;
  text-align: left;
  color: var(--textsecondary);
}

#btc-asset .actions .buttons button,
#eth-asset .actions .buttons button,
#usdt-asset .actions .buttons button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 85%;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: transparent;
  border: 0;
  color: var(--textprimary);
}

#btc-asset .actions .buttons,
#eth-asset .actions .buttons,
#usdt-asset .actions .buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#btc-asset .actions .buttons .send,
#eth-asset .actions .buttons .send,
#usdt-asset .actions .buttons .send {
  width: 62%;
  border-radius: 1rem;
  background-color: var(--danger);
}

#usdt-asset .actions .buttons .send {
  background-color: transparent;
  color: var(--primary);
  font-weight: 600;
  background-image: linear-gradient(315deg, #e787c0, #ffb386);
}

#btc-asset .actions .buttons .receive,
#eth-asset .actions .buttons .receive,
#usdt-asset .actions .buttons .receive {
  width: 35%;
  background-color: var(--divider);
}
