@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#signupc {
  @include mixins.useFlex(column, nowrap, flex-end, center, 0);
  width: 100vw;
  height: 100vh;
  padding: 1rem;

  .loader {
    @include mixins.useFlex(row, nowrap, center, center, 0.5rem);
    width: 100%;
    height: 100%;

    p {
      font-size: 0.875rem;
    }
  }
}
