@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#buyom {
  padding: 1rem;

  .title {
    font-size: 1rem;

    span {
      font-size: 0.875rem;
      color: colors.$textsecondary;
    }
  }

  .select_currency_ctr {
    margin-top: 1rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;

    .select_currency {
      width: 100%;
      height: 100%;

      .currency_img_desc {
        @include mixins.useFlex(row, nowrap, center, space-between, 0);
        padding: 0.625rem 0.375rem;
        border-bottom: 1px solid colors.$divider;

        .flag_balance {
          @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
          border-bottom: 0;

          img {
            width: 2rem;
            height: 2rem;
            object-fit: contain;
            object-position: center;
          }

          .flag {
            @include mixins.useFlex(column, nowrap, center, center, 0);
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 50%;
            background-color: colors.$textprimary;
          }

          .desc {
            font-size: 0.875rem;
            font-weight: 600;
            color: colors.$textprimary;

            span {
              font-size: 0.75rem;
              font-weight: 300;
              color: colors.$textsecondary;
            }
          }
        }

        .radioctr {
          @include mixins.useFlex(row, nowrap, center, center, 0);
          padding: unset;
          width: 0.875rem;
          height: 0.875rem;
          border: 1px solid colors.$divider;
          border-radius: 50%;
          background-color: colors.$divider;

          div {
            width: 50%;
            height: 50%;
            border-radius: 50%;
            padding: unset;
            margin: unset;
          }
        }
      }

      .l_currency {
        border-bottom: 0;
      }
    }
  }

  .asset_tle {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.75rem;
    font-weight: 600;
    vertical-align: middle;
    color: colors.$textsecondary;
  }

  .balancectr {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    margin-top: 1rem;
    height: 3.75rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;

    .currency {
      @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
      width: 5rem;
      height: 100%;
      background-color: colors.$divider;
      border-radius: 0.375rem 0 0 0.375rem;

      img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        object-position: center;
      }

      .flag {
        @include mixins.useFlex(column, nowrap, center, center, 0);
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 50%;
        background-color: colors.$textprimary;
      }

      p {
        font-size: 0.75rem;
        color: colors.$textsecondary;

        span {
          font-size: 0.875rem;
          font-weight: 500;
          color: colors.$textprimary;
        }
      }
    }

    .inpuctr {
      width: calc(100% - 5rem);
      height: 100%;
      padding: 0 0.5rem;
    }
  }

  .fiatbal {
    @include mixins.useAltFont();
    margin-top: 0.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: colors.$textsecondary;
  }

  .omamount {
    @include mixins.useAltFont();
    margin-top: 1rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: colors.$textsecondary;

    span {
      font-size: 0.875rem;
      font-weight: 300;
      color: colors.$textprimary;

      em {
        font-size: 0.625rem;
        font-weight: bold;
        font-style: normal;
      }
    }
  }

  .getbuyom {
    @include mixins.useButton();
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    padding: 0.625rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    font-weight: 600;
    color: colors.$primary;
    background-image: colors.$omgradient;
  }
}
