#buyom {
  padding: 1rem;
}

#buyom .title {
  font-size: 1rem;
}

#buyom .title span {
  font-size: 0.875rem;
  color: var(--textsecondary);
}

#buyom .balancectr {
  margin-top: 1rem;
  border: 1px solid var(--divider);
  border-radius: 0.375rem;
}

#buyom .balancectr .currency {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  width: 5rem;
  background-color: var(--divider);
  padding: 0.5rem;
  border-radius: 0.375rem 0 0 0.375rem;
}

#buyom .balancectr .currency img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  object-position: center;
}

#buyom .balancectr .currency p {
  font-size: 0.875rem;
}

#buyom .balancectr .currency p span {
  font-size: 0.75rem;
  font-weight: 500;
}

#buyom .balancectr .qtyinput {
}
