@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#buyom {
  padding: 1rem;

  .title {
    font-size: 1rem;

    span {
      font-size: 0.875rem;
      color: var(--textsecondary);
    }
  }

  .balancectr {
    @include mixins.useFlex(row, no-wrap, center, space-between, 0);
    margin-top: 1rem;
    height: 3.75rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;

    .currency {
      @include mixins.useFlex(row, no-wrap, center, center, 0);
      width: 5rem;
      height: 100%;
      background-color: colors.$divider;
      border-radius: 0.375rem 0 0 0.375rem;

      img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        object-position: center;
      }

      p {
        font-size: 0.75rem;
        color: colors.$textsecondary;

        span {
          font-size: 0.875rem;
          font-weight: 500;
          color: colors.$textprimary;
        }
      }
    }

    .qtyinput {
      @include mixins.useBaseFont();
      @include mixins.useButton();
      width: calc(100% - 5rem);
      height: 100%;
      padding: 0 0.5rem;
      font-size: 1rem;
      color: colors.$textprimary;

      &::placeholder {
        color: colors.$textsecondary;
      }

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  .fiatbal {
    margin-top: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: colors.$textsecondary;
  }

  .omamount {
    margin-top: 1rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: colors.$textsecondary;

    span {
      font-size: 0.875rem;
      font-weight: 300;
      color: colors.$textprimary;

      em {
        font-size: 0.625rem;
        font-weight: bold;
        font-style: normal;
      }
    }
  }

  .getbuyom {
    @include mixins.useButton();
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    padding: 0.5rem;
    border-radius: 0.375rem;
    background-image: colors.$omgradient;
    font-size: 0.875rem;
    font-weight: 600;
  }
}
