@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#aboutcoin {
  margin-bottom: 0.5rem;

  #loo1,
  #loo2,
  #loo4,
  #loo5 {
    padding: 0 1rem;
  }

  #loo1 {
    margin-top: 0.75rem;

    .name_symbol {
      font-size: 1rem;
      font-weight: 400;

      span {
        font-size: 0.875rem;
        font-weight: 300;
        text-transform: uppercase;
        color: colors.$textsecondary;
      }
    }

    .price {
      margin-top: 0.25rem;
      font-size: 1rem;
      font-weight: 400;
    }

    .price_change24 {
      font-size: 0.875rem;
      font-weight: 400;
    }
  }

  .prices {
    width: 100%;
    height: 20rem;
    margin-top: 1rem;
    margin-bottom: 3rem;

    .dayscount {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      width: 100%;
      margin-top: 1rem;
      padding: 0 1rem;

      button {
        @include mixins.useButton();
        padding: 0.125rem 1rem;
        border: 0;
        border-radius: 1rem;
        text-align: center;
        font-size: 0.75rem;
        font-weight: bold;
        color: colors.$textprimary;
      }

      .selecteddays {
        background-color: colors.$divider;
      }
    }
  }

  #loo2 {
    margin-top: 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 0.875rem;
  }

  #loo3 {
    margin-top: 1rem;

    p {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      padding: 1rem;
      border-bottom: 1px solid colors.$divider;
      font-size: 0.875rem;

      span {
        font-weight: 600;

        .symb {
          text-transform: uppercase;
        }
      }
    }
  }

  #loo4 {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.75rem);
    margin-top: 1rem;

    span {
      font-size: 0.875rem;
      font-weight: 500;
      text-decoration: none;
      color: colors.$accent;
    }
  }

  #loo5 {
    @include mixins.useFlex(row, wrap, center, flex-start, 0.5rem);
    margin-top: 1rem;
    margin-bottom: 3.5rem;

    span {
      padding: 0.125rem 0.5rem;
      border-radius: 1rem;
      font-size: 0.75rem;
      font-weight: 500;
      background-color: colors.$divider;
      color: colors.$textsecondary;
    }
  }

  .buy_sell {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.75rem 1rem;
    background-color: colors.$primary;

    button {
      @include mixins.useButton();
      width: 48%;
      height: 2rem;
      border-radius: 1rem;
      font-size: 0.875rem;
      font-weight: 500;
      color: colors.$textprimary;
      background-color: colors.$danger;
    }

    ._buy {
      background-color: colors.$success;
    }
  }
}
