@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#createlendsecret {
  padding: 1rem;

  .key-ctr {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    width: 100%;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border: 1px solid rgba($color: colors.$divider, $alpha: 0.25);
    border-radius: 0.5rem;
    background-color: rgba($color: colors.$divider, $alpha: 0.25);

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      font-size: 0.875rem;
      font-weight: 600;

      span {
        font-weight: 300;
      }
    }

    img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: cover;
    }
  }

  .currencies,
  .timepickers {
    @include mixins.useFlex(row, wrap, flex-start, flex-start, 0.375rem);
    width: 100%;
  }

  .timepickers {
    padding-bottom: 3rem;
  }

  .section-title {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    font-weight: 600;

    span {
      font-weight: 300;
    }
  }

  .expiry-title,
  .currency-title {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }

  .actions {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.625rem;
    padding: 0.5rem 1rem;
    border-top: 1px solid colors.$divider;
    background-color: colors.$primary;
    z-index: 1000;

    button {
      @include mixins.useFlex(row, nowrap, center, center, 0.375rem);
      @include mixins.useButton();

      & {
        width: 100%;
        height: 100%;
      }
    }
  }
}
