#createlend {
  padding: 1rem;
}

#createlend .title {
  font-size: 1.125rem;
}

#createlend .title span {
  font-size: 0.875rem;
  color: var(--textsecondary);
}

#createlend .assetselector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0.5rem 0.875rem 0.5rem 0.5rem;
  border: 1px solid var(--divider);
  border-radius: 0.375rem;
  background-color: var(--divider);
}

#createlend .assetselector .img_desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

#createlend .assetselector .img_desc img {
  width: 1.75rem;
  height: 1.75rem;
  object-fit: contain;
  object-position: center;
}

#createlend .assetselector .img_desc .desc {
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: capitalize;
}

#createlend .assetselector .img_desc .desc span {
  font-size: 0.75rem;
  font-weight: 300;
  text-transform: none;
  color: var(--textsecondary);
}

#createlend .assetselector .inv_icon {
  transform: rotate(-90deg);
}

/* --- */
.select_assets {
  width: 100%;
  height: 100%;
}

.select_assets div {
  padding: 0.625rem 0.375rem;
  border-bottom: 1px solid var(--divider);
}

.select_assets .img_desc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}

.select_assets .img_desc img {
  width: 1.75rem;
  height: 1.75rem;
  object-fit: contain;
  object-position: center;
}

.select_assets .desc {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--textprimary);
}

.select_assets .img_desc .desc span {
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--textsecondary);
}

.select_assets .asset_tle {
  width: 100%;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  font-weight: 600;
  text-align: center;
  vertical-align: middle;
  color: var(--textsecondary);
}
/* --- */

#createlend .balances {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#createlend .balances .tle {
  font-size: small;
  font-weight: 600;
  color: var(--textsecondary);
}

#createlend .balances .cryptobal {
  font-size: 0.875rem;
  font-weight: 600;
}

#createlend .balances .cryptobal .fiatbal {
  font-family: "Raleway", serif;
  font-size: 0.875rem;
  font-weight: 600;
}

#createlend .lendamount {
  margin-top: 1rem;
}

#createlend .lendamount .ttle {
  font-size: 0.875rem;
  font-weight: 500;
}

#createlend .lendamount .ttle span {
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--textsecondary);
}

#createlend .lendamount .amntpercent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 0.625rem;
}

#createlend .lendamount .amntpercent button {
  padding: 0.25rem 1.25rem;
  border: 1px solid var(--divider);
  outline: none;
  outline-color: transparent;
  border-radius: 1rem;
  font-size: 0.75rem;
  font-weight: 500;
  text-align: center;
  color: var(--textprimary);
  background-color: var(--divider);
}

#createlend .lendutil {
  margin-top: 1rem;
}

#createlend .lendutil .utilcase {
  font-size: 0.875rem;
}

#createlend .lendutil .utilcase span {
  font-size: 0.75rem;
  color: var(--textsecondary);
}

#createlend .yields {
  margin-top: 1rem;
}

#createlend .yields .yielcase {
  font-size: 0.875rem;
}

#createlend .yields .yielcase span {
  font-size: 0.75rem;
  color: var(--textsecondary);
}

#createlend .yields .keeps {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}

#createlend .yields .keeps button {
  width: 31%;
  padding: 1rem 0.5rem;
  border: 1px solid var(--divider);
  outline: none;
  outline-color: transparent;
  border-radius: 0.25rem;
  background-color: var(--divider);
  font-family: "Raleway", serif;
  font-weight: 600;
  color: var(--textprimary);
}

#createlend .assetselector {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding: 0.625rem 0.875rem 0.625rem 0.625rem;
  border: 1px solid var(--divider);
  border-radius: 0.375rem;
  background-color: var(--divider);
}

#createlend .submit {
  position: fixed;
  bottom: 0.25rem;
  left: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.625rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  border-radius: 0.25rem;
  color: var(--textprimary);
  background-color: var(--danger);
  z-index: 1;
}
