@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#createlendsecret {
  padding: 1rem;

  .title {
    font-size: 1.125rem;

    span {
      font-size: 0.875rem;
      color: colors.$textsecondary;
    }
  }

  .fee_ttle {
    margin-top: 1rem;
    font-size: 0.875rem;
    font-weight: 500;

    span {
      font-size: 0.75rem;
      font-weight: 300;
      color: colors.$textsecondary;
    }
  }

  .receipient {
    margin-top: 1rem;

    .ttle {
      font-size: 0.875rem;
      font-weight: 500;

      span {
        font-size: 0.75rem;
        font-weight: 300;
        color: colors.$textsecondary;
      }
    }

    .qfees {
      @include mixins.useFlex(row, wrap, flex-start, flex-start, 0.5rem);
      margin-top: 0.75rem;

      button {
        @include mixins.useAltFont();
        @include mixins.useButton();
        width: 31%;
        padding: 0.5rem 0;
        border: 1px solid colors.$divider;
        border-radius: 0.25rem;
        background-color: colors.$divider;
        font-weight: 600;
        color: colors.$textprimary;
      }
    }

    .feeem {
      margin-top: 0.25rem;
      font-size: 0.75rem;
      color: colors.$textsecondary;

      span {
        @include mixins.useAltFont();
        font-weight: 600;
      }
    }

    .customfeetle {
      margin-top: 0.75rem;
    }
  }

  .fees {
    margin-bottom: 0.75rem;
  }

  .secretselector {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    margin-top: 1rem;
    padding: 0.5rem 0.875rem 0.5rem 0.5rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    .img_desc {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }

      .desc {
        font-size: 0.875rem;
        font-weight: 600;
        text-transform: capitalize;

        span {
          font-size: 0.75rem;
          font-weight: 300;
          text-transform: none;
          color: colors.$textsecondary;
        }
      }
    }

    .inv_icon {
      transform: rotate(-90deg);
    }
  }

  .repayment_tle {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    font-size: 0.875rem;
    font-weight: 400;

    span {
      font-size: 0.75rem;
      font-weight: 300;
      color: colors.$textsecondary;
    }
  }

  .repayment_curreny {
    margin-bottom: 2.75rem;

    .img_desc {
      .country_flag {
        @include mixins.useFlex(row, nowrap, center, center, 0);
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: colors.$textprimary;
      }
    }
  }

  .timevalidlabel,
  .valid_minutes,
  .noexpiry p {
    width: 100%;
    margin-top: 0.75rem;
    padding-left: unset;
    text-align: left;
    font-size: 0.875rem;
    font-weight: bold;
    color: colors.$textprimary;
  }

  .timevalidlabel,
  .noexpiry {
    span {
      font-size: 0.75rem;
      font-weight: 400;
      color: colors.$textsecondary;
    }
  }

  .valid_minutes {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    font-weight: 300;

    span {
      font-size: 0.625rem;
      font-weight: 500;
      color: colors.$textsecondary;
    }
  }

  .noexpiry {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0);
    width: 100%;
    margin-bottom: 4rem;

    p {
      width: 100%;
      margin: unset;
      padding: unset;
      text-align: left;
    }
  }

  .submit {
    @include mixins.useFlex(row, nowrap, center, center, 0.5rem);
    @include mixins.useButton();
    @include mixins.useBaseFont();
    position: fixed;
    bottom: 0.25rem;
    left: 1rem;
    right: 1rem;
    display: flex;
    padding: 0.625rem;
    border-radius: 0.25rem;
    font-weight: 500;
    color: colors.$textprimary;
    background-color: colors.$accent;
    z-index: 1;
  }
}

/* ---popover--- */
.select_secrets {
  width: 100%;
  height: 100%;

  .img_desc {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    padding: 0.625rem 0.375rem;
    border-bottom: 1px solid colors.$divider;

    img {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    ._icons {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 50%;
      background-color: colors.$textprimary;
    }

    .desc {
      font-size: 0.875rem;
      font-weight: 600;
      color: colors.$textprimary;

      span {
        font-size: 0.75rem;
        font-weight: 300;
        color: colors.$textsecondary;
      }
    }
  }

  #asset_tle {
    width: 100%;
    margin-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    color: colors.$textsecondary;
  }
}

/* ---popover-- */