@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#deposit {
  padding: 1rem;

  .title_desc {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    margin: 0 -1rem;
    padding: 0 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid colors.$divider;
    font-size: 1.125rem;
    font-weight: 500;

    span {
      font-size: 0.875rem;
      font-weight: 300;
    }
  }

  .txtaddress {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    width: 100%;
    margin-top: 2rem;
    padding: 0.875rem 0;
    border: 1px solid colors.$divider;
    border-left: 0;
    border-right: 0;

    span {
      font-size: 0.875rem;
      font-weight: bold;
    }

    button {
      @include mixins.useFlex(row, nowrap, center, flex-end, 0.25rem);
      @include mixins.useOutline();
      @include mixins.useBaseFont();

      & {
        font-weight: 500;
        color: colors.$textsecondary;
      }
    }
  }

  .currencies {
    @include mixins.useFlex(row, wrap, flex-start, space-between, 0.375rem);
    width: 100%;
    margin-top: 1rem;
  }

  .contractnotes {
    margin-top: 1rem;

    p {
      font-size: 0.875rem;

      span {
        font-weight: 600;
        word-wrap: break-word;
        word-break: break-all;
      }

      &.network {
        margin-bottom: 0.5rem;
      }
    }

    button {
      @include mixins.useFlex(row, nowrap, center, flex-end, 0.25rem);
      @include mixins.useBaseFont();
      @include mixins.useOutline();
      margin-top: 1rem;

      & {
        font-weight: 500;
        margin-top: 0.5rem;
        color: colors.$textsecondary;
      }
    }
  }
}
