#importkey {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#importkey img {
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  object-position: center;
}

#importkey .title {
  padding: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: var(--textprimary);
}

#importkey .keyutil {
  width: 100%;
  margin-top: 1rem;
}

#importkey .keyutil ._secret_utils {
  font-size: 0.875rem;
  font-weight: 500;
}

#importkey .keyutil .util {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  width: 100%;
  height: 3.75rem;
  margin-top: 0.75rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--divider);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

#importkey .keyutil .util .radioctr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 0.875rem;
  height: 0.875rem;
  border: 1px solid var(--divider);
  border-radius: 50%;
  background-color: var(--divider);
}

#importkey .keyutil .util .radioctr div {
  width: 60%;
  height: 60%;
  border-radius: 50%;
}

#importkey .keyutil .util .purpose {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: unset;
  padding-top: unset;
  font-size: 0.875rem;
  font-weight: 500;
}

#importkey .keyutil .util .purpose span {
  font-size: 0.75rem;
  font-weight: 300;
  color: var(--textsecondary);
}

#importkey button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  margin-top: 1rem;
  padding: 0.5rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--textprimary);
  background-color: var(--danger);
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all ease-in-out 0.25s;
}

#importkey button:disabled {
  cursor: not-allowed;
  background-color: var(--divider);
}

#importkey .learnmore {
  width: 100%;
  margin-top: 0.5rem;
  padding-left: unset;
  text-align: left;
  font-size: 0.875rem;
  color: var(--textsecondary);
}
