#lendtospend {
  padding: 1rem;
}

#lendtospend .title {
  font-size: 1.25rem;
}

#lendtospend .title span {
  font-size: 0.875rem;
  color: var(--textsecondary);
}

#lendtospend .selectors {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  flex-wrap: nowrap;
  margin-top: 0.75rem;
  margin-left: -1rem;
  margin-right: -1rem;
  padding: 0 1rem;
  border: 0;
  border-bottom: 1px solid var(--divider);
}

#lendtospend .selectors button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  flex-wrap: nowrap;
  width: 48%;
  padding: 0.5rem 0;
  border: 0;
  border-bottom: 2px solid var(--primary);
  outline: none;
  outline-color: transparent;
  font-size: 0.875rem;
  color: var(--textprimary);
  background-color: transparent;
  transition: all ease-in-out 0.25s;
}

#lendtospend .selectors .borrowed span {
  transform: rotate(180deg);
}

#lendtospend .newlendctr {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
}

#lendtospend .newlend {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2.875rem;
  height: 2.875rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  border-radius: 0.875rem;
  background-color: var(--danger);
  z-index: 1000;
}

#lendtospend #assets {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}

#lendtospend #assets .noassets {
  font-size: 0.875rem;
  text-align: center;
  color: var(--textsecondary);
}
