@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#nodesteeselector {
  width: 100vw;
  height: 100vh;

  .filters {
    .filterbtn {
      @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
      @include mixins.useButton();
      @include mixins.useBaseFont();
      position: absolute;
      top: 1rem;
      right: 1rem;
      min-width: fit-content;
      padding: 0.125rem 0.125rem 0.125rem 0.375rem;
      border: 1px solid colors.$divider;
      border-radius: 0.625rem;
      background-color: colors.$primary;
      font-size: 0.625rem;
      font-weight: bold;
      text-transform: capitalize;
      color: colors.$textprimary;

      .icon {
        @include mixins.useFlex(row, nowrap, center, center, 0);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        background-color: colors.$divider;
      }
    }
  }

  .node_tee {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    @include mixins.useButton();
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.25rem;
    border: 0;
    border-radius: 0.75rem;
    background-color: colors.$textsecondary;

    &:disabled {
      background-color: colors.$danger;

      .node,
      .tee {
        background-color: colors.$danger;
      }
    }

    .node,
    .tee {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: colors.$accent;
    }

    .tee {
      background-color: colors.$success;
    }
  }
}

/* popover */
.selectortitle {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid colors.$divider;
  font-size: 0.75rem;
  font-weight: 600;
  color: colors.$textsecondary;
}

.filterctr {
  @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);
  @include mixins.useBaseFont();
  @include mixins.useButton();
  width: 100%;
  margin: 0.25rem 0;
  padding: 0.25rem 0;
  border: 0;

  .radioctr {
    @include mixins.useFlex(column, nowrap, center, center, 0);
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
    border: 1px solid colors.$divider;

    span {
      width: 60%;
      height: 60%;
      border-radius: 50%;
    }
  }

  p {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    font-size: 0.75rem;
    font-weight: 600;
    color: colors.$textprimary;
  }

  span {
    font-size: 0.625rem;
    color: colors.$textsecondary;
  }
}
/* popover */
