#nodesteeselector {
  width: 100vw;
  height: 100vh;
}

#nodesteeselector .filters .filterbtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  min-width: fit-content;
  padding: 0.125rem 0.125rem 0.125rem 0.25rem;
  border: 1px solid var(--divider);
  outline: none;
  outline-color: transparent;
  border-radius: 0.625rem;
  background-color: var(--primary);
  font-family: "Open Sans", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--textprimary);
}

#nodesteeselector .filters .filterbtn .icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: var(--divider);
}

/* popover */

.selectortitle {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--divider);
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--textsecondary);
}

.filterctr {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.375rem;
  width: 100%;
  margin: 0.25rem 0;
  padding: 0.25rem 0;
  border: 0;
  outline: none;
  outline-color: transparent;
  background-color: transparent;
}

.filterctr .radioctr {
  width: 0.875rem;
  height: 0.875rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--divider);
}

.filterctr .radioctr span {
  width: 60%;
  height: 60%;
  border-radius: 50%;
}

.filterctr p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--textprimary);
}

.filterctr span {
  font-size: 0.625rem;
  color: var(--textsecondary);
}
/* popover */

#nodesteeselector .node_tee {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  border-radius: 50%;
  background-color: var(--textsecondary);
}

#nodesteeselector .node_tee:disabled {
  background-color: var(--danger);
}

#nodesteeselector .node_tee:disabled .node,
#nodesteeselector .node_tee:disabled .tee {
  background-color: var(--danger);
}

#nodesteeselector .node_tee .node,
#nodesteeselector .node_tee .tee {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--accent);
}

#nodesteeselector .node_tee .tee {
  background-color: var(--success);
}
