@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

.notifications {
  padding: 1rem;

  .title_desc {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    margin: 0 -1rem;
    padding: 0 1rem;
    padding-bottom: 0.375rem;
    border-bottom: 1px solid colors.$divider;
    font-size: 1.125rem;
    font-weight: 600;

    span {
      font-size: 0.875rem;
      font-weight: 300;
    }
  }

  .notifs {
    padding-bottom: 4rem;

    .notification {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
      margin: 0 -1rem;
      padding: 0.75rem 0.875rem;
      border-bottom: 1px solid colors.$divider;

      img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
      }

      .currency_link {
        color: colors.$textprimary;
        width: 100%;

        p {
          font-size: 0.875rem;
          font-weight: bold;
        }

        .link {
          @include mixins.useFlex(row, nowrap, center, space-between, 0);
          width: 100%;
          font-weight: 300;

          span {
            @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
            font-size: 0.75rem;
            font-weight: 300;
            color: colors.$accent;
          }
        }
      }
    }
  }
}
