@use '../constants/colors' as colors;
@use '../constants/mixins' as mixins;

#phoneauth {
    padding: 1rem;

    .title {
        font-size: 1.5rem;
        font-weight: 100;
    }

    .desc {
        font-size: 0.75rem;
    }

    .note {
        margin-top: 4rem;
        padding: 0 2rem;
        font-size: 0.75rem;
        text-align: center;
        color: colors.$textsecondary;
    }
}