@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#premium {
  padding: 1rem;

  .img {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    width: 100%;
    height: fit-content;
  }

  ._title {
    margin-top: -1rem;
    font-size: 1.25rem;
    text-align: center;
  }

  ._desc {
    font-size: 0.875rem;
    text-align: center;
    color: colors.$textsecondary;
  }

  .actions {
    @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
    width: 100%;
    margin-top: 1.5rem;

    button {
      @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
      @include mixins.useBaseFont();
      @include mixins.useButton();
      width: 48%;
      padding-bottom: 0.375rem;
      border-bottom: 2px solid colors.$danger;
      font-size: 0.875rem;
      font-weight: 500;
      color: colors.$textprimary;
      transition: all ease-in-out 0.25s;
    }

    .disabled {
      color: colors.$textsecondary;
      border-bottom-color: colors.$divider;
    }
  }

  .benefits {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.5rem);
    margin-top: 1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 3rem;

    div {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.75rem);
      width: 100%;
      padding: 0.5rem 1rem;
      border: 1px solid colors.$divider;
      border-left: 0;
      border-right: 0;

      p {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
        font-size: 0.875rem;
        font-weight: 500;

        span {
          font-size: 0.75rem;
          font-weight: 300;
          color: colors.$textsecondary;
        }
      }
    }
  }

  .tgbenefits {
    @include mixins.useFlex(column, nowrap, center, center, 0.5rem);
    margin-top: 2rem;

    p {
      font-size: 0.875rem;
      text-align: center;
    }

    span {
      @include mixins.useFlex(row, nowrap, center, center, 0.375rem);
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      font-size: 0.75rem;
      font-weight: 500;
      background-color: colors.$divider;
    }
  }

  .onsubscribe {
    @include mixins.useFlex(row, nowrap, center, center, 0.375rem);
    @include mixins.useButton();
    @include mixins.useBaseFont();
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2.65rem;
    font-size: 0.875rem;
    font-weight: 500;
    text-align: center;
    color: colors.$textprimary;
    background-color: colors.$accent;
  }
}
