@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#referral {
  padding: 1rem;

  .l1 {
    @include mixins.useFlex(column, nowrap, center, center, 0.25rem);
    width: 100%;
    padding: 1rem 0.5rem;
    border: 1px solid colors.$divider;
    border-radius: 1rem;

    img {
      width: 3.5rem;
      height: 3.5rem;
      object-position: center;
      object-fit: contain;
    }

    .title {
      text-align: center;
      font-size: 0.875rem;
      font-weight: bold;
    }

    .desc {
      padding: 0 3.75rem;
      text-align: center;
      font-size: 0.75rem;
      color: colors.$textsecondary;
    }
  }

  .earns {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    margin-top: 1.5rem;
    font-size: 0.875rem;

    span {
      font-weight: bold;
      font-size: 1.25rem;
    }
  }

  .actions {
    margin-top: 1.5rem;

    button {
      @include mixins.useButton();
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      width: 100%;
      min-height: 2.5rem;
      padding: 0.25rem;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      color: colors.$textprimary;
    }

    .copylink {
      margin-top: 0.5rem;
      padding-left: 0.5rem;
      color: colors.$textsecondary;
      background-color: colors.$divider;

      span {
        @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
        padding: 0 0.5rem;
        border-left: 1px solid colors.$divider;
        color: colors.$textsecondary;
      }
    }

    .send_tg {
      justify-content: center;
      gap: 0.5rem;
      margin-top: 0.5rem;
      background-color: colors.$danger;
      font-weight: 500;
    }

    .genlink {
      font-size: 0.875rem;
      font-weight: 500;
    }
  }

  .mindesc {
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.875rem;
    color: colors.$textsecondary;
  }
}
