#referral {
  padding: 1rem;
}

#referral .l1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  width: 100%;
  padding: 1rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--divider);
}

#referral .l1 img {
  width: 3.5rem;
  height: 3.5rem;
  object-position: center;
  object-fit: contain;
}

#referral .l1 .title {
  text-align: center;
  font-weight: 500;
}

#referral .l1 .desc {
  padding: 0 3.75rem;
  text-align: center;
  font-size: 0.875rem;
}

#referral .earns {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 1.5rem;
  font-size: 0.875rem;
}

#referral .earns span {
  font-weight: bold;
  font-size: 1.25rem;
}

#referral .actions {
  margin-top: 1.5rem;
}

#referral .actions button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-height: 2.5rem;
  padding: 0.25rem;
  background-color: transparent;
  border: 0;
  border-radius: 0.25rem;
  outline: none;
  outline-color: transparent;
  color: var(--textprimary);
}

#referral .actions .copylink {
  margin-top: 0.5rem;
  padding-left: 0.5rem;
  color: var(--textsecondary);
  background-color: rgba(248, 250, 252, 0.05);
}

#referral .actions .copylink span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0 0.5rem;
  border-left: 1px solid var(--divider);
  color: var(--textprimary);
}

#referral .actions .send_tg {
  justify-content: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
  background-color: var(--danger);
}

#referral .actions .genlink {
  font-size: 0.875rem;
  font-weight: 500;
}

#referral .mindesc {
  width: 100%;
  margin-top: 0.5rem;
  text-align: center;
  font-size: 0.875rem;
  color: var(--textsecondary);
}
