@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#rewards {
  padding: 1rem;

  .imgctr {
    @include mixins.useFlex(column, nowrap, center, center, 0);
    width: 100%;
    height: 100%;
    margin-top: 1.5rem;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      object-fit: contain;
      object-position: center;
    }
  }

  .balances {
    @include mixins.useFlex(row, nowrap, center, space-around, 0);
    margin-top: 1rem;
    padding-bottom: 0.375rem;
    border-bottom: 1px solid colors.$divider;

    div {
      @include mixins.useFlex(column, nowrap, center, center, 0.5rem);

      p {
        @include mixins.useFlex(column, nowrap, center, center, 0.5rem);
        font-size: 0.875rem;
        font-weight: 500;

        span {
          @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
          @include mixins.useAltFont();
          font-weight: 600;
          color: colors.$textsecondary;

          img {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .tasks {
    margin-top: 1rem;

    .tasks_title {
      margin-top: 1rem;
      font-size: small;
      font-weight: bold;
      color: colors.$textsecondary;
    }

    .title {
      font-size: 1.5rem;
    }

    .task {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
      margin-top: 0.5rem;
      padding: 0.5rem 0;
      border: 1px solid colors.$divider;
      border-left: 0;
      border-right: 0;

      img {
        width: 2rem;
        height: 2rem;
      }

      p {
        @include mixins.useFlex(
          column,
          nowrap,
          flex-start,
          flex-start,
          0.125rem
        );
        font-size: 0.875rem;
        font-weight: bold;
      }

      span {
        font-size: 0.75rem;
        font-weight: 300;
        color: colors.$textsecondary;
      }
    }
  }

  .history {
    margin-top: 1rem;

    .history_title {
      margin-bottom: 0.375rem;
    }

    .message {
      padding: 0.5rem 0;
      border-top: 1px solid colors.$divider;
      font-size: 0.75rem;

      span {
        font-weight: 300;
        color: colors.$textsecondary;
      }
    }

    .l_message {
      border-bottom: 1px solid colors.$divider;
    }

    .nohistory {
      font-size: 0.875rem;
      text-align: center;
      color: colors.$textsecondary;
    }
  }
}
