@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#securitysetup {
  padding: 1rem;

  .title {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.125rem);
    padding: 0 0 0.375rem 0;
    border-bottom: 1px solid colors.$divider;
    font-size: 1.25rem;

    span {
      font-size: 0.875rem;
      color: colors.$textsecondary;
    }
  }

  .title_nodes_tee {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    margin-top: 1rem;

    .icon {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      width: 2rem;
      height: 2rem;
      padding: 0.5rem;
      border-radius: 50%;
      background-color: colors.$divider;
    }

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      width: 100%;
      margin: unset;
      padding: unset;
      font-size: 0.875rem;
      font-weight: bold;

      span {
        font-size: 0.75rem;
        font-weight: 300;
        color: colors.$textsecondary;
      }
    }
  }

  .teees {
    margin-bottom: 1rem;
  }

  .seeall {
    @include mixins.useFlex(row, nowrap, center, flex-end, 0.375rem);
    width: 100%;
    margin-top: 1rem;
    padding: 0.25rem;
    border: 0;
    background-color: transparent;
    font-size: 0.75rem;
    font-weight: 500;
    color: colors.$textsecondary;

    span {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      transform: rotate(180deg);
    }
  }

  .selectednodes {
    @include mixins.useFlex(row, wrap, flex-start, space-between, 0.5rem);
    margin: 1rem 0;
  }

  .two-fa {
    @include mixins.useFlex(row, nowrap, center, space-between, 0.5rem);
    width: 100%;
    margin: 1rem 0;
    padding: 0.375rem;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    .icon {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      font-size: 0.875rem;
    }

    span {
      font-size: 0.75rem;
      color: colors.$textsecondary;
    }
  }
}
