@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#sendasset {
  @include mixins.useFlex(column, nowrap, center, inital, 0);
  width: 100%;
  height: 100vh;
  padding: 1rem;

  .info {
    @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
    width: fit-content;
    padding: 0.125rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    font-weight: bold;
    color: colors.$textsecondary;
    background-color: colors.$divider;
  }

  .info_desc {
    text-align: center;
    margin-top: 1rem;
    font-size: 0.75rem;
    color: colors.$textprimary;
  }

  .assetselector {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    width: 100%;
    height: 3.25rem;
    margin-top: 1rem;
    padding: 0.375rem;
    padding-right: 0.875rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    .img_desc {
      @include mixins.useFlex(row, nowrap, center, center, 0.5rem);

      img {
        width: 1.75rem;
        height: 1.75rem;
        object-fit: contain;
        object-position: center;
      }

      .desc {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
        font-size: 0.875rem;
        font-weight: 600;
        text-transform: capitalize;

        span {
          font-size: 0.75rem;
          font-weight: 300;
          text-transform: none;
          color: colors.$textsecondary;
        }
      }
    }

    .inv_icon {
      transform: rotate(-90deg);
    }
  }

  .availablebalance {
    @include mixins.useAltFont();
    width: 100%;
    margin-top: 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: right;
  }

  button {
    @include mixins.useFlex(row, nowrap, center, center, 0.5rem);
    @include mixins.useBaseFont();
    @include mixins.useButton();
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: colors.$textprimary;
    background-color: colors.$accent;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all ease-in-out 0.25s;

    &:disabled {
      background-color: colors.$divider;
      color: colors.$textsecondary;
      cursor: not-allowed;
    }
  }
}
