@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#sharewalletaccess {
  @include mixins.useFlex(column, nowrap, center, center, 0);
  width: 100%;
  padding: 1rem;

  img {
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    object-fit: contain;
    object-position: center;
  }

  .title {
    padding: 1rem;
    text-align: center;
    font-size: 0.875rem;
    color: colors.$textprimary;
  }

  .usd_balance {
    @include mixins.useAltFont();
    width: 100%;
    margin-top: 0.5rem;
    text-align: left;
    font-size: 1.25rem;
    font-weight: 600;
    color: colors.$textprimary;
  }

  .ethereum_balance {
    @include mixins.useBaseFont();
    margin-top: unset;
    font-size: 1rem;
    font-weight: 600;
  }

  .my_bal {
    font-size: 0.875rem;
  }

  .timevalidlabel,
  .valid_minutes,
  .noexpiry p {
    width: 100%;
    margin-top: 0.75rem;
    padding-left: unset;
    text-align: left;
    font-size: 0.875rem;
    font-weight: bold;
    color: colors.$textprimary;
  }

  .timevalidlabel,
  .noexpiry {
    span {
      font-size: 0.75rem;
      font-weight: 400;
      color: colors.$textsecondary;
    }
  }

  .valid_minutes {
    font-weight: 300;
  }

  .noexpiry {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0);
    width: 100%;

    p {
      width: 100%;
      margin: unset;
      padding: unset;
      text-align: left;
    }
  }

  button {
    @include mixins.useFlex(row, nowrap, center, center, 0.5rem);
    @include mixins.useBaseFont();
    @include mixins.useButton();
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: colors.$textprimary;
    background-color: colors.$danger;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all ease-in-out 0.25s;

    &:disabled {
      background-color: colors.$divider;
      color: colors.$textsecondary;
      cursor: not-allowed;
    }
  }

  .quantity {
    width: 100%;
    text-align: left;
    font-size: 0.75rem;

    .quantity span {
      font-weight: 600;
    }
  }
}
