@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#serverfailure {
  @include mixins.useFlex(column, nowrap, center, center, 0);
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-color: colors.$primary;

  p {
    text-align: center;
  }

  ._title {
    font-size: 1.25rem;
    font-weight: 500;
  }

  ._desc {
    font-size: 0.875rem;
  }

  button {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    @include mixins.useButton();

    & {
      width: 100%;
      margin-top: 1rem;
    }

    &:disabled {
      color: colors.$textsecondary;
      background-color: colors.$divider;
    }
  }

  .min_desc {
    margin-top: 0.5rem;
    font-size: 0.75rem;
    color: colors.$textsecondary;
  }
}
