@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#authorize {
  @include mixins.useFlex(column, nowrap, center, center, 0);
  width: 100%;
  padding: 1rem;

  img {
    width: 3rem;
    height: 3rem;
    margin-top: 1rem;
    object-fit: contain;
    object-position: center;
  }

  .title {
    text-align: center;
    padding: 0.5rem;
    font-size: 0.875rem;
    color: colors.$textprimary;
  }

  .timevalidlabel,
  .valid_minutes,
  .noexpiry p {
    width: 100%;
    margin-top: 0.75rem;
    padding-left: unset;
    text-align: left;
    font-size: 0.875rem;
    font-weight: bold;
    color: colors.$textprimary;
  }

  .timevalidlabel,
  .noexpiry {
    span {
      font-size: 0.75rem;
      font-weight: 400;
      color: colors.$textsecondary;
    }
  }

  .valid_minutes {
    font-weight: 300;
  }

  .noexpiry {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0);
    width: 100%;

    p {
      width: 100%;
      margin: unset;
      padding: unset;
      text-align: left;
    }
  }

  button {
    @include mixins.useFlex(row, nowrap, center, center, 0.5rem);
    @include mixins.useButton();
    @include mixins.useBaseFont();
    font-size: 0.875rem;
    font-weight: 500;
    color: colors.$textprimary;
    width: 100%;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: colors.$danger;
    border-radius: 0.25rem;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    color: colors.$textprimary;
    cursor: pointer;
    transition: all ease-in-out 0.25s;

    &:disabled {
      cursor: not-allowed;
      color: colors.$textsecondary;
      background-color: colors.$divider;
    }
  }

  .keyshare {
    width: 100%;
    margin-top: 1rem;
    padding: unset;
    text-align: left;
    text-align: left;
    font-size: 0.875rem;
    color: colors.$textsecondary;
    font-size: small;

    span {
      font-weight: 600;
      color: colors.$textprimary;
    }
  }

  .learnmore {
    width: 100%;
    font-size: 0.875rem;
    color: colors.$textsecondary;
    margin-top: 0.5rem;
    padding-left: unset;
  }
}
