@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#sphereexchangerate {
  width: 100%;
  height: 100%;
  background-color: colors.$primary;

  .infoctr {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    padding: 1rem;

    span {
      font-size: 0.875rem;
      color: colors.$textsecondary;
    }
  }

  .chartctr {
    width: 100%;
    height: 30rem;
  }

  .currenrate {
    margin: 1rem;
    padding: 0.375rem 0.5rem;
    border: 1px solid colors.$divider;
    border-radius: 0.5rem;
    background-color: colors.$divider;

    p {
      font-size: 0.875rem;
      color: colors.$textsecondary;
    }

    span {
      font-weight: 500;
    }
  }
}
