@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#staking {
  padding: 1rem;

  .stakeproduct {
    margin-bottom: 0.75rem;
    padding-top: 0.375rem;
    border: 2px solid colors.$accent;
    border-radius: 0.375rem;

    .subject_title {
      font-size: 0.75rem;
      text-align: center;
      color: colors.$textsecondary;

      span {
        font-size: 0.875rem;
        font-weight: bold;
        text-align: center;
      }
    }

    .sub {
      font-size: 0.875rem;
      text-align: center;
      color: colors.$textsecondary;
    }

    .title {
      font-size: 0.75rem;
      font-weight: bold;
      text-align: center;
    }

    .img_ctr {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      margin: 0.375rem 0;

      img {
        width: 2rem;
        height: 2rem;
      }
    }

    .value {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      margin: 0 0.5rem;
      margin-top: 0.375rem;
      border-top: 1px solid colors.$divider;
      padding: 0.5rem 0;

      p {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
        font-size: 0.75rem;
        font-weight: bold;
        color: colors.$textsecondary;

        span {
          font-size: 0.75rem;
          font-weight: 300;
          color: colors.$textprimary;
        }
      }

      .last-child {
        align-items: flex-end;
        justify-content: flex-end;
      }
    }

    .network {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      margin: 0 0.5rem;
      padding: 0.5rem 0;
      border-top: 1px solid colors.$divider;
      font-size: 0.875rem;
      font-weight: 500;
      color: colors.$textsecondary;

      span {
        font-size: 0.75rem;
        font-weight: bold;
        color: colors.$textprimary;
      }
    }

    .start {
      @include mixins.useButton();
      @include mixins.useBaseFont();
      width: 100%;
      padding: 0.5rem;
      border-radius: 0 0 0.25rem 0.25rem;
      background-color: colors.$accent;
      color: colors.$textprimary;
      font-size: 0.75rem;
      font-weight: bold;
    }
  }

  .section_title {
    margin-top: 0.75rem;
    font-size: 1.125rem;
  }

  .yield_tokens {
    @include mixins.useFlex(row, nowrap, flex-start, flex-start, 0.5rem);
    margin-top: 0.5rem;
    overflow-x: auto;

    .stake {
      @include mixins.useFlex(column, nowrap, flex-start, space-between, 0);
      width: 80vw;
      height: 9rem;
      flex: 0 0 auto;
      border: 1px solid colors.$divider;
      border-radius: 0.375rem;

      .stakedetails {
        @include mixins.useFlex(row, nowrap, flex-start, flex-start, 0.5rem);
        padding: 0.5rem;

        img {
          width: 2.75rem;
          height: 2.75rem;
          border-radius: 50%;
        }

        div {
          .token_name {
            @include mixins.useFlex(
              column,
              nowrap,
              flex-start,
              flex-start,
              0.25rem
            );
            font-size: 0.875rem;
            font-weight: 500;

            span {
              @include mixins.useAltFont();
              font-weight: 500;

              em {
                @include mixins.useBaseFont();
                font-style: normal;
                font-weight: 300;
              }
            }
          }

          .min_deposit {
            @include mixins.useAltFont();
            margin: 0.375rem 0;
            font-size: 0.75rem;
            font-weight: 500;

            span {
              @include mixins.useBaseFont();
            }
          }

          .lockup {
            @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);
            font-size: 0.75rem;
            font-weight: 500;
          }
        }
      }

      button {
        @include mixins.useButton();
        width: 100%;
        padding: 0.5rem;
        border-radius: 0 0 0.25rem 0.25rem;
        font-size: 0.875rem;
        font-weight: bold;
        color: colors.$textprimary;
        background-color: colors.$divider;
      }
    }
  }
}
