@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#staking {
  padding: 1rem;

  .stakeproduct {
    margin-bottom: 0.75rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: colors.$divider;

    .sub {
      font-size: 0.875rem;
      text-align: center;
      color: colors.$textsecondary;
    }

    .title {
      font-size: 1rem;
      font-weight: 600;
      text-align: center;
    }

    .img_ctr {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      margin: 0.375rem 0;

      img {
        width: 2rem;
        height: 2rem;
      }
    }

    .value {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      width: 100%;

      p {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
        font-size: 0.875rem;
        font-weight: 500;
        color: colors.$textsecondary;

        span {
          font-size: 0.75rem;
          font-weight: 300;
          color: colors.$textprimary;
        }
      }

      .last-child {
        align-items: flex-end;
        justify-content: flex-end;
      }
    }

    .network {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      margin: 0.375rem 0;
      font-size: 0.875rem;
    }

    .start {
      @include mixins.useButton();
      @include mixins.useBaseFont();
      width: 100%;
      padding: 0.375rem;
      border-radius: 0.25rem;
      background-color: colors.$accent;
      color: colors.$textprimary;
      font-weight: 400;
    }
  }
}
