@use "../constants/colors" as colors;
@use "../constants/mixins" as mixins;

#sendasset {
  @include mixins.useFlex(column, nowrap, center, inital, 0);
  width: 100%;
  height: 100vh;
  padding: 1rem;

  img {
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
  }

  .info {
    @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
    width: fit-content;
    padding: 0.125rem 0.75rem;
    border-radius: 1rem;
    font-size: 0.75rem;
    font-weight: bold;
    color: colors.$textsecondary;
    background-color: colors.$divider;
  }

  p {
    text-align: center;
    margin-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 0.875rem;
    color: colors.$textprimary;
  }

  .availablebalance {
    width: 100%;
    padding: unset;
    font-size: 0.75rem;
    font-weight: bold;
    text-align: right;
  }
}

#sendasset button {
  @include mixins.useFlex(row, nowrap, center, center, 0.5rem);
  @include mixins.useBaseFont();
  @include mixins.useButton();
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: colors.$textprimary;
  background-color: colors.$danger;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all ease-in-out 0.25s;

  &:disabled {
    background-color: colors.$divider;
    color: colors.$textsecondary;
    cursor: not-allowed;
  }
}
