:root {
  --primary: #242d39;
  --textprimary: rgba(248, 250, 252, 1);
  --textsecondary: rgba(127, 127, 127, 1);
  --accent: #496bcc;
  --danger: rgb(255, 82, 82);
  --success: #0fb14d;
  --divider: rgba(248, 250, 252, 0.2);
}
