*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--primary);
  color: var(--textprimary);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-weight: 300;
}

#getom {
  position: fixed;
  bottom: 4.5rem;
  right: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

#getom img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

::-webkit-scrollbar {
  display: none;
}
