@use "./constants/colors" as colors;
@use "./constants/mixins" as mixins;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: colors.$primary;
  color: colors.$textprimary;
  @include mixins.useBaseFont();
}

::-webkit-scrollbar {
  display: none;
}
