@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@mixin useBaseFont() {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  color: rgba(248, 250, 252, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  @include useBaseFont();
  width: 100vw;
  height: 100vh;
  background-color: #1c1c1c;
}

::-webkit-scrollbar {
  display: none;
}
