@use "../../../constants/colors" as colors;
@use "../../../constants/mixins" as mixins;

.fiat_balances {
  margin-top: 1rem;

  ._title {
    margin-top: 1rem;
    font-size: small;
    font-weight: 600;
    color: colors.$textsecondary;
  }

  .currencybalance {
    @include mixins.useFlex(row, no-wrap, center, space-between, 1rem);
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.375rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    .flag_symbol,
    .flag_symbol .flag,
    .avail_total,
    .convertlink {
      @include mixins.useFlex(row, no-wrap, center, flex-start, 1rem);
    }

    .flag_symbol {
      justify-content: flex-start;
      gap: 0.375rem;

      .flag {
        justify-content: center;
        gap: unset;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: colors.$textprimary;
      }

      .symbol {
        font-size: 0.875rem;
        font-weight: 500;
      }
    }

    .avail_total {
      flex-direction: column;
      align-items: flex-end;
      gap: 0.25rem;

      .avail {
        font-size: 0.875rem;
        font-weight: bold;
      }

      span {
        font-size: 0.625rem;
        font-weight: 400;
        color: colors.$textsecondary;
      }
    }
  }

  .message {
    margin-top: 1rem;
    padding: 0 1rem;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    color: colors.$danger;
  }

  .airwallex {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    width: 100%;
    height: 2.125rem;
    margin-top: 0.5rem;
    padding: 0.125rem;
    border: 1px solid colors.$divider;
    border-radius: 0.25rem;
    background-color: colors.$divider;

    span {
      font-size: 0.75rem;
      font-weight: 600;
      color: colors.$danger;
    }

    img {
      width: 2.125rem;
      height: 2.125rem;
      object-fit: contain;
      object-position: center;
    }
  }
}
