@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#deposit {
  padding: 1rem;

  .title_desc {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    font-size: 1rem;
    margin-top: 1rem;

    span {
      font-size: 0.75rem;
      color: colors.$textsecondary;
    }
  }

  .targtes {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    margin-top: 0.875rem;

    button {
      @include mixins.useButton();
      @include mixins.useBaseFont();
      width: 48%;
      padding: 0.375rem;
      border-radius: 1rem;
      font-size: 0.75rem;
      font-weight: bold;
      color: colors.$textprimary;
    }

    ._select_target {
      color: colors.$primary;
      background-color: colors.$textprimary;
    }
  }

  .methods {
    width: 100%;
    margin-top: 0.875rem;

    ._secret_utils {
      font-size: 0.875rem;
      font-weight: 500;
    }

    .util {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.75rem);
      width: 100%;
      height: 3.75rem;
      margin-top: 0.75rem;
      padding: 0.5rem;
      border: 1px solid colors.$divider;
      border-radius: 0.375rem;
      background-color: colors.$divider;

      .radioctr {
        @include mixins.useFlex(row, nowrap, center, center, 0);
        width: 0.875rem;
        height: 0.875rem;
        border: 1px solid colors.$divider;
        border-radius: 50%;
        background-color: colors.$divider;

        div {
          width: 60%;
          height: 60%;
          border-radius: 50%;
        }
      }

      .purpose {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
        margin-top: unset;
        padding-top: unset;
        font-size: 0.875rem;
        font-weight: 500;

        span {
          font-size: 0.75rem;
          font-weight: 300;
          color: colors.$textsecondary;
        }
      }
    }
  }
}
