@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#deposit {
  padding: 1rem;

  .title_desc {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    font-size: 1rem;
    margin-top: 1rem;

    span {
      font-size: 0.75rem;
      color: colors.$textsecondary;
    }
  }

  .targtes {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    margin-top: 0.875rem;

    ._select_target {
      color: colors.$primary;
      background-color: colors.$textprimary;
    }
  }

  .methods {
    width: 100%;
    margin-top: 0.875rem;

    ._secret_utils {
      font-size: 0.875rem;
      font-weight: 500;
    }
  }
}