@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#depositfromawx {
  padding: 1rem;

  .title_desc {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid colors.$divider;
    font-size: 1rem;

    span {
      font-size: 0.75rem;
      color: colors.$textsecondary;
    }
  }

  .api_keys {
    font-size: 0.875rem;
    margin-top: 1rem;
  }

  .secretselector {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    margin-top: 0.375rem;
    padding: 0.5rem 0.875rem 0.5rem 0.5rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    .img_desc {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;
        object-position: center;
      }

      .desc {
        font-size: 0.75rem;
        font-weight: 400;
      }
    }

    .inv_icon {
      transform: rotate(-90deg);
    }
  }

  .message {
    margin-top: 1rem;
    padding: 0 1rem;
    font-size: 0.75rem;
    font-weight: 500;
    text-align: center;
    color: colors.$danger;
  }

  .airwallex {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    width: 100%;
    height: 2.125rem;
    margin-top: 0.5rem;
    padding: 0.125rem;
    border: 1px solid colors.$divider;
    border-radius: 0.25rem;
    background-color: colors.$accent;

    span {
      font-size: 0.75rem;
      font-weight: 600;
      color: colors.$textprimary;
    }

    img {
      width: 2.125rem;
      height: 2.125rem;
      object-fit: contain;
      object-position: center;
    }
  }

  .balances {
    margin-top: 1rem;
    font-size: small;
    font-weight: 600;
    color: colors.$textsecondary;
  }

  .available_balances {
    .currencybalance {
      @include mixins.useFlex(row, no-wrap, center, space-between, 1rem);
      width: 100%;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      padding: 0.375rem;
      border: 1px solid colors.$divider;
      border-radius: 0.25rem;

      .flag_symbol,
      .flag_symbol .flag,
      .avail_total,
      .convertlink {
        @include mixins.useFlex(row, no-wrap, center, flex-start, 1rem);
      }

      .flag_symbol {
        justify-content: flex-start;
        gap: 0.375rem;

        .flag {
          justify-content: center;
          gap: unset;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          background-color: colors.$textprimary;
        }

        .symbol {
          font-size: 0.875rem;
          font-weight: 500;
        }
      }

      .avail_total {
        flex-direction: column;
        align-items: flex-end;
        gap: 0.25rem;

        .avail {
          font-size: 0.875rem;
          font-weight: bold;
        }

        span {
          font-size: 0.625rem;
          font-weight: 400;
          color: colors.$textsecondary;
        }
      }
    }
  }

  .amounttodeposit {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    margin-top: 0.5rem;
    height: 2.75rem;
    padding: 0.25rem 0;
    border: 1px solid colors.$divider;
    border-radius: 0.25rem;

    .currencyamount {
      @include mixins.useButton();
      width: calc(100% - 4rem);
      height: 100%;
      padding-left: 0.5rem;
      color: colors.$textprimary;

      &::placeholder {
        color: colors.$textsecondary;
      }
    }

    .currencyselector {
      @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
      width: 3.75rem;
      height: 100%;
      border-left: 1px solid colors.$divider;

      span {
        font-size: 0.625rem;
        font-weight: bold;
      }
    }
  }

  .receipient {
    margin-top: 0.5rem;
    margin-bottom: 4rem;

    .ttle {
      font-size: 0.875rem;
      font-weight: 500;

      span {
        font-size: 0.75rem;
        font-weight: 300;
        color: colors.$textsecondary;
      }
    }
  }
}

/* ---popover--- */
.select_secrets {
  width: 100%;
  height: 100%;

  .img_desc {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    padding: 0.625rem 0.375rem;
    border-bottom: 1px solid colors.$divider;

    img {
      width: 2.25rem;
      height: 2.25rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    .desc {
      font-size: 0.875rem;
      font-weight: 600;
      color: colors.$textprimary;

      span {
        font-size: 0.75rem;
        font-weight: 300;
        color: colors.$textsecondary;
      }
    }
  }

  .asset_tle {
    width: 100%;
    margin-top: 0.625rem;
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    color: colors.$textsecondary;
  }
}

.select_currency {
  @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
  width: 100%;
  height: 100%;

  div {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0);
    width: 100%;
    height: 33%;
    padding-left: 0.5rem;
    border-bottom: 1px solid colors.$divider;

    span {
      @include mixins.useFlex(row, nowrap, flex-start, flex-start, 0.5rem);
      font-size: 0.75rem;
      font-weight: bold;
      color: colors.$textprimary;
    }
  }

  .text {
    width: 100%;
    margin-top: 0.75rem;
    font-size: 0.75rem;
    font-weight: 600;
    color: colors.$textsecondary;
    text-align: center;
  }
}
/* ---popover-- */
