@use "../../constants/colors.scss" as colors;
@use "../../constants/mixins" as mixins;

#paystackhandler {
  width: 100vw;
  padding: 1rem;

  .animation-ctr {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    width: 100%;
  }

  .fiatstatus {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    .img {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);

      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
      }

      p {
        font-size: 0.875rem;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }

  .complete {
    margin-top: 3rem;
    font-size: 0.75rem;
    text-align: center;
  }

  button {
    @include mixins.useButton();
    width: 100%;
    margin-top: 0.375rem;
    padding: 0.5rem;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    background-color: colors.$accent;
  }
}
