@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.addkey {
  @include mixins.useFlex(column, nowrap, center, center, 0.375rem);
  padding: 1rem;

  .title {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    width: 100%;
    text-align: left;
    font-size: 1.25rem;
    color: colors.$textprimary;

    span {
      font-size: 0.875rem;
      color: colors.$textsecondary;
    }
  }

  img {
    width: 3rem;
    height: 3rem;
    object-fit: contain;
    object-position: center;
  }

  .required {
    font-size: 0.875rem;
    text-align: center;
    color: colors.$textsecondary;
  }

  button {
    @include mixins.useButton();
    @include mixins.useBaseFont();
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.625rem;
    border-radius: 0.25rem;
    background-color: colors.$accent;
    font-weight: 500;
    color: colors.$textprimary;
  }
}
