@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#collectcryptofromlink {
  @include mixins.useFlex(column, nowrap, center, center, 0);
  width: 100%;
  padding: 0 1rem;

  .title-desc {
    margin-top: 1rem;
    font-size: 0.875rem;
    text-align: center;
    color: colors.$textprimary;

    span {
      font-weight: bold;
    }
  }

  button {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    @include mixins.useButton();

    & {
      width: 100%;
    }
  }

  .yourassetbalance {
    margin: 1rem -1rem;
    width: 100%;
    padding: 0.5rem unset;
    color: colors.$textprimary;

    img {
      width: 2.25rem;
      height: 2.25rem;
      object-fit: contain;
    }
  }
}
