@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.createkey {
    @include mixins.useFlex(column, nowrap, center, center, 1rem);
    padding: 1rem;
    width: 100%;

    img {
        width: 3rem;
        height: 3rem;
    }

    p {
        font-size: 0.875rem;
        text-align: center;
        color: colors.$textprimary;
    }
}