@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.importkey {
  width: 100%;
  height: 100%;
  padding: 1rem;
  color: colors.$textprimary;

  .title {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    font-size: 1.25rem;
    font-weight: 600;

    span {
      font-size: 0.875rem;
      font-weight: 300;
    }
  }

  .purpose {
    margin-top: 1rem;
    font-size: 0.875rem;
  }

  .keys-purpose {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.5rem);
    margin-top: 0.5rem;
  }

  .submit-key {
    @include mixins.useFlex(row, nowrap, center, center, 0.375rem);
    @include mixins.useButton();

    & {
      width: 100%;
      margin-top: 1rem;
    }
  }
}
