.quickactions {
  width: 100%;
  padding: 0 1rem;
}

.quickactions .title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  color: var(--textprimary);
}

.quickactions .parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 1rem 0;
  border-bottom: 1px solid var(--divider);
}

.quickactions .mantra img {
  border-radius: 50%;
}

.quickactions .parent img {
  width: 2.25rem;
  height: 2.25rem;
}

.quickactions .parent .img {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--divider);
  text-align: center;
}

.quickactions .parent .child p {
  color: var(--textprimary);
  font-size: 0.875rem;
  font-weight: bold;
}

.quickactions .parent .child span {
  color: var(--textsecondary);
  font-size: 0.75rem;
}

.quickactions .f_parent {
  border-top: 1px solid var(--divider);
}
