@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.quickactions {
  width: 100%;

  .title {
    margin-top: 0.875rem;
    margin-bottom: 0.875rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: colors.$textprimary;
  }

  .parent {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    padding: 0.75rem 1rem;
    border-bottom: 1px solid colors.$divider;

    .child {
      p {
        color: colors.$textprimary;
        font-size: 0.875rem;
        font-weight: bold;
      }

      span {
        color: colors.$textsecondary;
        font-size: 0.75rem;
      }
    }

    img {
      width: 2.25rem;
      height: 2.25rem;
      object-fit: cover;
      object-position: center;
    }
  }

  .mantra {
    img {
      border-radius: 50%;
    }
  }
}
