@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.revokesecretaccess {
  @include mixins.useFlex(column, nowrap, center, center, 1rem);
  width: 100%;
  height: 80%;
  padding: 1rem;

  p {
    @include mixins.useFlex(column, nowrap, center, center, 0);
    padding: 0 2rem;
    font-size: 0.875rem;
    text-align: center;
    color: colors.$textprimary;

    span {
      color: colors.$textsecondary;
    }
  }
}