@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.secretactions {
  width: 100%;
  padding: 1rem;

  ._title {
    color: colors.$textprimary;
    font-size: 1.25rem;
  }

  ._desc {
    font-size: 0.875rem;
    font-weight: 500;
    color: colors.$textsecondary;
  }

  .actions {
    @include mixins.useFlex(column, nowrap, center, flex-start, 0.5rem);
    margin-top: 1rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;

    button {
      @include mixins.useFlex(column, nowrap, flex-start, center, 0);
      @include mixins.useButton();
      @include mixins.useBaseFont();
      width: 100%;
      height: 3rem;
      padding: 0 0.5rem;
      font-size: 0.75rem;
      color: colors.$textprimary;

      span {
        @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
        font-size: 0.875rem;
        font-weight: 600;
      }
    }

    .divider {
      width: 100%;
      height: 1px;
      background-color: colors.$divider;
    }
  }

  .mindesc {
    margin-top: 0.25rem;
    text-align: center;
    font-size: 0.625rem;
    font-weight: bold;
    color: colors.$textsecondary;
  }
}
