@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.sendlendlink {
  width: 100%;
  padding: 1rem;

  p {
    font-size: 0.875rem;
    color: colors.$textprimary;
  }

  .sendtitle {
    margin-top: 0.5rem;
    font-size: 1rem;
  }

  .senddesc {
    font-size: 0.875rem;
    color: colors.$textsecondary;
  }

  .actions {
    margin-top: 1rem;

    button {
      @include mixins.useOutline();
      @include mixins.useBaseFont();
    }

    .copylink {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      width: 100%;
      padding: 0.5rem 0;
      font-weight: bold;

      span {
        @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
        padding: 0.375rem;
        border: 1px solid rgba($color: colors.$divider, $alpha: 0.25);
        border-radius: 0.375rem;
        font-weight: bold;
        color: colors.$textsecondary;
        background-color: rgba($color: colors.$divider, $alpha: 0.25);
      }
    }

    .tg-link {
      @include mixins.useButton();

      & {
        width: 100%;
        padding: 0.625rem;
        border-radius: 0.375rem;
      }
    }
  }

  .mindesc {
    width: 100%;
    margin-top: 0.5rem;
    padding: 0 1.5rem;
    text-align: center;
    font-size: 0.875rem;
    color: colors.$textsecondary;
  }
}
