@use '../../constants/colors.scss' as colors;
@use '../../constants/mixins' as mixins;

.stakeinvault,
.unstakefromvault {
    width: 100%;
    padding: 1rem;
    color: colors.$textprimary;


    .token {
        @include mixins.useFlex(row, nowrap, center, space-between, 0);
        padding-bottom: 0.5rem;
        border-bottom: 1px solid colors.$divider;

        p {
            font-size: 1.125rem;
        }

        img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
    }

    .balance {
        @include mixins.useFlex(row, nowrap, center, space-between, 0);
        margin-top: 0.875rem;

        p {
            font-size: 0.75rem;

            span {
                @include mixins.useAltFont();
                font-size: 1rem;
                font-weight: bold;
            }
        }

        .max_out {
            @include mixins.useButton();
            padding: 0.125rem 0.875rem;
            border-radius: 1rem;
            font-size: 0.75rem;
            font-weight: bold;
            color: colors.$primary;
            background-color: colors.$textprimary;
        }
    }

    .receive {
        @include mixins.useFlex(row, nowrap, center, space-between, 0);
        margin-top: 0.875rem;
        padding: 0.375rem 0;
        border-top: 1px solid colors.$divider;
        font-size: 0.875rem;

        span {
            @include mixins.useAltFont();
            font-size: 1.125rem;
            font-weight: bold;
        }
    }

    .approval {
        width: 100%;
        margin-top: 0.5rem;
        padding: 0.25rem 0.5rem;
        border: 1px solid colors.$divider;
        border-radius: 0.25rem;
        background-color: colors.$divider;

        .msg {
            @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
            font-size: 0.875rem;
            font-weight: 500;

            span {
                font-weight: 300;
                color: colors.$textsecondary;
            }
        }

        .gas {
            @include mixins.useFlex(row, nowrap, center, space-between, 0);
            @include mixins.useAltFont();
            margin-top: 0.375rem;
            font-size: 1.125rem;
            font-weight: bold;

            span {
                @include mixins.useBaseFont();
                font-size: 0.875rem;
                font-weight: 300;
            }
        }
    }
}

.unstakefromvault {
    .warn {
        @include mixins.useFlex(row, nowrap, center, flex-start, 0.625rem);
        margin-top: 0.875rem;
        padding: 0.25rem;
        padding-left: 0.75rem;
        border-radius: 0.375rem;
        background-color: colors.$divider;

        span {
            font-size: 0.75rem;
            color: colors.$danger;
        }
    }

    .requests {
        margin-top: 0.5rem;
        padding: 0.375rem;
        border: 1px solid colors.$divider;
        border-radius: 0.5rem;
        background-color: colors.$divider;

        .title {
            font-size: 0.875rem;
        }

        .remainder {
            @include mixins.useFlex(row, nowrap, center, space-between, 0);
            margin-top: 0.875rem;

            span {
                font-size: 0.875rem;
            }

            .unlocking {
                font-weight: 500;
            }
        }

        .progress {
            width: 100%;
            height: 0.375rem;
            margin: 0.375rem 0;
            border-radius: 0.5rem;
            background-color: colors.$divider;

            div {
                width: 50%;
                height: 100%;
                border-radius: 0.5rem 0 0 0.5rem;
                background-color: colors.$textsecondary;
            }
        }

        .start_unlocked {
            @include mixins.useFlex(row, nowrap, center, space-between, 0);
            font-size: 0.75rem;
        }
    }

    .confirm_unstake {
        width: 100%;
        margin-top: 0.5rem;
        padding: 0.375rem;
        border: 1px solid colors.$divider;
        border-radius: 0.5rem;
        background-color: colors.$divider;

        .msg {
            @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
            font-size: 0.875rem;
            font-weight: 500;

            span {
                font-weight: 300;
                color: colors.$textsecondary;
            }
        }

        .warn {
            margin-top: 0.25rem;
        }
    }
}