@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.transactionlimit {
  padding: 1rem;

  .title {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    font-size: 1.125rem;
    font-weight: 500;
    color: colors.$textprimary;

    span {
      font-size: 0.75rem;
      font-weight: 300;
      color: colors.$textsecondary;
    }
  }
}
