@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.transactionlimit {
  padding: 1rem;

  .title {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    font-size: 1.125rem;
    font-weight: 500;
    color: colors.$textprimary;

    span {
      font-size: 0.75rem;
      font-weight: 300;
      color: colors.$textsecondary;
    }
  }

  .submitlimit {
    @include mixins.useFlex(row, nowrap, center, center, 0.5rem);
    @include mixins.useButton();
    @include mixins.useBaseFont();
    width: 100%;
    height: 2.375rem;
    margin-top: 1rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: colors.$textprimary;
    background-color: colors.$danger;
  }
}
