@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#unlocktransactions {
  width: 100%;
  padding: 0 1rem;

  .title {
    margin-top: 1rem;
    font-size: 0.875rem;
    font-weight: 400;
    color: colors.$textprimary;
  }

  .desc {
    margin-bottom: 1rem;
    font-size: 0.75rem;
    color: colors.$textsecondary;
  }

  .parent {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    padding: 1rem 0;
    border-bottom: 1px solid colors.$divider;

    .child {
      p {
        color: colors.$textprimary;
        font-size: 0.875rem;
        font-weight: bold;
      }

      span {
        color: colors.$textsecondary;
        font-size: 0.75rem;
      }
    }

    img {
      width: 2.25rem;
      height: 2.25rem;
    }
  }

  .f_parent {
    border-top: 1px solid colors.$divider;
  }

  .usdc {
    .child {
      p {
        color: colors.$textsecondary;
      }
    }
  }
}
