@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.verifytransaction {
  width: 100%;
  padding: 1rem;
  color: colors.$textprimary;

  .verifymessage {
    margin-bottom: 1rem;
    padding: 0 2rem;
    font-size: 0.875rem;
    text-align: center;
  }
}
