@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#bottomtab {
  @include mixins.useFlex(row, nowrap, center, center, 0);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  padding: 0.5rem 0;
  background-color: colors.$primary;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
  z-index: 100;
  justify-content: space-around;
  border-top: 1px solid rgba(248, 250, 252, 0.08);

  button {
    @include mixins.useFlex(column, nowrap, center, center, 0.35rem);
    @include mixins.useButton();
    position: relative;
    width: 20%;
    height: 100%;
    transition: all 0.2s ease;
    
    &.active {
      background: linear-gradient(to top, rgba(colors.$accent, 0.15), transparent 80%);
    }

    &:hover {
      transform: translateY(-2px);
    }

    .fa-icon-container {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      height: 24px;
      width: 24px;
    }

    span {
      font-size: 0.7rem;
      font-weight: 500;
      text-align: center;
    }
  }
}
