@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#bottomtab {
  @include mixins.useFlex(row, nowrap, center, center, 1.5rem);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.75rem;
  padding: 0.5rem 0;
  background-color: colors.$primary;
  border-top: 1px solid colors.$divider;
  z-index: 1000;

  button {
    @include mixins.useButton();

    & {
      width: 3rem;
      height: 2.25rem;

      span {
        font-size: 0.75rem;
        font-weight: 500;
        text-align: center;
      }

      &.active {
        color: colors.$textprimary;
      }
    }
  }
}
