@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#bottomtab {
  @include mixins.useFlex(row, nowrap, center, center, 2.75rem);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.875rem;
  background-color: colors.$primary;
  border-top: 1px solid rgba($color: colors.$divider, $alpha: 0.25);
  z-index: 1000;

  button {
    @include mixins.useFlex(column, nowrap, center, center, 0.375rem);
    @include mixins.useOutline();
    color: colors.$textsecondary;

    &.active {
      color: colors.$textprimary;
    }
  }
}
