@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#bottomtab {
  @include mixins.useFlex(row, nowrap, center, center, 2.375rem);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.75rem;
  padding: 0.5rem 0;
  background-color: colors.$primary;
  border-top: 1px solid colors.$divider;
  z-index: 1000;

  button {
    @include mixins.useFlex(column, nowrap, center, center, 0.375rem);
    background-color: transparent;
    border: 0;
    outline: none;
    outline-color: transparent;
    color: colors.$textsecondary;

    &.active {
      color: colors.$textprimary;
    }
  }
}
