#bottomtab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.75rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 0;
  background-color: var(--primary);
  box-shadow: 0 -2px 20px rgba(0, 0, 0, 0.125);
}

#bottomtab button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  background-color: transparent;
  border: 0;
  outline: none;
  outline-color: transparent;
}

#bottomtab button span {
  font-size: 0.75rem;
  font-weight: 500;
}
