@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#bottomtab {
  @include mixins.useFlex(row, nowrap, center, center, 2.75rem);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3.625rem;
  padding: 0.75rem 0;
  border-top: 1px solid colors.$divider;
  background-color: colors.$primary;
  box-shadow: 0 -2px 2px colors.$boxshadow;

  button {
    @include mixins.useFlex(column, nowrap, center, center, 0.125rem);
    @include mixins.useButton();

    span {
      font-size: 0.625rem;
      font-weight: 500;
      text-align: center;
    }
  }

  .quickactions {
    width: 2.675rem;
    height: 2.675rem;
    border-radius: 50%;
    background-color: colors.$textprimary;
  }
}
