@use '../../constants/colors' as colors;
@use '../../constants/mixins' as mixins;

#defitab {
  margin-bottom: 5rem;



  .title {
    padding: 1rem;
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
  }

  .filters {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    padding: 0 1rem;
    border-bottom: 1px solid colors.$divider;
    overflow-x: auto;

    button {
      @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
      @include mixins.useButton();
      @include mixins.useBaseFont();
      flex: 0 0 auto;
      padding: 0.25rem 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid transparent;
      font-size: 0.875rem;
      color: colors.$textsecondary;
    }

    .activefilter {
      border-bottom-color: colors.$textprimary;
      color: colors.$textprimary;
    }
  }

  .loading_ctr {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    width: 100%;
    margin-top: 2.5rem;
  }

  .dividends_ctr {
    width: 100%;
    margin-top: 0.875rem;
    padding: 0 1rem;

    .title {
      padding: unset;
      font-size: 1rem;
    }

    .total_hold {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      margin-top: 0.25rem;
      border: 1px solid colors.$divider;
      border-radius: 0.375rem;
      background-color: colors.$divider;

      p {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.25rem);
        width: 50%;
        padding: 0.5rem 0.375rem;
        font-size: 0.75rem;

        span {
          @include mixins.useAltFont();
          font-size: 1rem;
          font-weight: bold;
        }
      }

      .hold {
        padding-left: 0.875rem;
        border-left: 1px solid colors.$divider;
      }
    }

    .my_dividens {
      @include mixins.useFlex(row, wrap, flex-start, space-between, 0.5rem);
      margin-top: 0.75rem;

      .earn_more {
        @include mixins.useFlex(column, nowrap, center, space-between, 0);
        width: 48%;
        height: 9.5rem;

        &>div {
          @include mixins.useFlex(row, nowrap, center, space-between, 0);
          height: 48%;
          width: 100%;
          padding: 0 0.5rem;
          border: 1px solid colors.$divider;
          border-radius: 0.375rem;
          background-color: colors.$success;

          span {
            font-size: 0.875rem;
          }
        }
      }
    }
  }

  .stakingrewards_ctr {
    width: 100%;
    margin-top: 0.375rem;

    .title {
      padding: unset;
      padding: 0 1rem;
      font-size: 1rem;
    }

    .myrewards {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.5rem);
      margin-top: 0.5rem
    }
  }

  .tokens_ctr {
    @include mixins.useFlex(column, nowrap, center, flex-start, 0.5rem);
    width: 100%;
    margin-top: 0.875rem;
    padding: 0 1rem;
  }

  .desc {
    padding: 1rem;
    font-size: 0.75rem;
    text-align: center;
    color: colors.$textsecondary;
  }
}

.dividendctr {
  width: 48%;
  height: 9.5rem;
  padding-bottom: 0.25rem;
  border: 1px solid colors.$divider;
  border-radius: 0.375rem;

  .div_title {
    padding: 0.375rem 0;
    border-bottom: 1px solid colors.$divider;
    font-size: 0.875rem;
    text-align: center;
  }

  .detail {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    margin-top: 0.25rem;
    padding: 0 0.375rem;
    font-size: 0.75rem;

    span {
      @include mixins.useAltFont();
      font-size: 0.875rem;
      font-weight: bold;
    }
  }
}

.stakingreward {
  @include mixins.useFlex(row, nowrap, center, space-between, 0);
  width: 100%;
  padding: 0.625rem 1rem;
  border: 1px solid colors.$divider;
  border-left: 0;
  border-right: 0;

  .img_token_name {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      font-size: 0.75rem;

      span {
        @include mixins.useAltFont();
        font-size: 0.875rem;
        font-weight: bold;
      }
    }
  }

  button {
    @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
    @include mixins.useButton();
    @include mixins.useBaseFont();
    padding: 0.375rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: colors.$textprimary;
    background-color: colors.$accent;
  }
}

.tokenproduct {
  width: 100%;
  border: 1px solid colors.$divider;
  border-radius: 0.5rem;
  background-color: colors.$divider;


  .img_symbol {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    padding: 0.5rem;

    .img {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);

    }

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }

    p {
      font-size: 0.875rem;
      font-weight: bold;
    }
  }

  .detail {
    @include mixins.useFlex(row, wrap, center, space-between, 0);
    padding: 0.75rem 0.5rem;
    border-top: 1px solid colors.$divider;
    font-size: 0.75rem;

    span {
      @include mixins.useAltFont();
      font-size: 0.875rem;
      font-weight: bold;
    }
  }
}

.launchpadproduct {
  width: 100%;
  border: 1px solid colors.$divider;
  border-radius: 0.5rem;
  background-color: colors.$divider;

  .img_status {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    padding: 0.5rem;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }

    span {
      @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
      padding: 0.25rem 0.875rem;
      border: 1px solid colors.$divider;
      border-radius: 1rem;
      font-size: 0.75rem;
      font-weight: 500;
    }
  }

  .price_sub {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    padding: 0 0.5rem;

    .symbol_price {
      margin-bottom: 0.5rem;

      .symbol {
        font-size: 0.875rem;
        font-weight: bold;
      }

      .price {
        font-size: 0.875rem;
        color: colors.$textsecondary;
      }
    }
  }

  .detail {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    padding: 0.75rem 0.5rem;
    border-top: 1px solid colors.$divider;
    font-size: 0.75rem;

    span {
      @include mixins.useAltFont();
      font-size: 0.875rem;
      font-weight: bold;
    }
  }
}

.yieldproduct {
  width: 100%;
  border: 1px solid colors.$divider;
  border-radius: 0.5rem;
  background-color: colors.$divider;

  .name_apy {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    padding: 0.5rem;
    font-size: 0.875rem;

    span {
      @include mixins.useAltFont();
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .description {
    margin: 0 0.5rem;
    padding: 0.375rem 0;
    border: 1px dashed colors.$divider;
    border-left: 0;
    border-right: 0;
    font-size: 0.75rem;
  }

  .container {
    @include mixins.useFlex(row, wrap, flex-start, space-between, 0.375rem);
    margin: 0.5rem 0;
    padding: 0 0.5rem;

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.25rem);
      width: 40%;
      font-size: 0.75rem;
      color: colors.$textsecondary;
      font-weight: 500;

      span {
        @include mixins.useAltFont();
        font-size: 0.875rem;
        text-transform: capitalize;
        color: colors.$textprimary;
      }
    }

  }
}

.ammproduct {
  width: 100%;
  border: 1px solid colors.$divider;
  border-radius: 0.5rem;
  background-color: colors.$divider;

  .img_name_apy {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    padding: 0.5rem;
    border-bottom: 1px dashed colors.$divider;

    .img_name {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);

      img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        object-position: center;
      }

      p {
        font-size: 0.875rem;
        font-weight: bold;
      }
    }

    .apy {
      @include mixins.useAltFont();
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .details {
    @include mixins.useFlex(row, wrap, center, space-between, 0.375rem);
    margin-top: 0.375rem;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.25rem);
      width: 48%;
      font-size: 0.75rem;
      color: colors.$textsecondary;
      font-weight: 500;

      span {
        @include mixins.useAltFont();
        font-size: 0.875rem;
        text-transform: capitalize;
        color: colors.$textprimary;
      }
    }
  }
}