@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#defitab {
  margin-bottom: 5rem;

  .title {
    padding: 1rem;
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
  }

  .filters {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    padding: 0 1rem;
    border-bottom: 1px solid colors.$divider;
    overflow-x: auto;

    button {
      @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
      @include mixins.useButton();
      @include mixins.useBaseFont();
      flex: 0 0 auto;
      padding: 0.25rem 0.5rem;
      padding-bottom: 0.5rem;
      border-bottom: 2px solid transparent;
      font-size: 0.875rem;
      color: colors.$textsecondary;
    }

    .activefilter {
      border-bottom-color: colors.$textprimary;
      color: colors.$textprimary;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .loading_ctr {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    width: 100%;
    margin-top: 2.5rem;
  }

  .dividends_ctr {
    width: 100%;
    margin-top: 0.875rem;
    padding: 0 1rem;

    .title {
      padding: unset;
      font-size: 1rem;
    }

    .total_hold {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      margin-top: 0.25rem;
      border: 1px solid colors.$divider;
      border-radius: 0.375rem;
      background-color: colors.$divider;

      p {
        @include mixins.useFlex(
          column,
          nowrap,
          flex-start,
          flex-start,
          0.25rem
        );
        width: 50%;
        padding: 0.5rem 0.375rem;
        font-size: 0.75rem;

        span {
          @include mixins.useAltFont();
          font-size: 1rem;
          font-weight: bold;
        }
      }

      .hold {
        padding-left: 0.875rem;
        border-left: 1px solid colors.$divider;
      }
    }

    .chart_ctr {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      width: 100%;
      margin: 0.5rem 0;
      border-radius: 0.5rem;
      background-color: rgba($color: colors.$textprimary, $alpha: 0.75);
    }

    .earn_more {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      width: 100%;
      height: 5rem;
      margin-top: 0.5rem;
      padding: 0.25rem 0;
      border: 1px solid colors.$divider;
      border-radius: 0.5rem;
      background-color: colors.$success;

      & > div {
        @include mixins.useFlex(row, nowrap, center, center, 0.75rem);
        width: 100%;
        height: 100%;

        span {
          font-size: 0.875rem;
        }
      }

      .tokens {
        border-left: 1px solid rgba($color: colors.$textprimary, $alpha: 0.25);
      }
    }
  }

  .stakingrewards_ctr {
    width: 100%;
    padding: 0 1rem;
    margin-top: 0.375rem;

    .title {
      padding: unset;
      font-size: 1rem;
    }

    .myrewards {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.5rem);
      margin-top: 0.5rem;
    }
  }

  .tokens_ctr {
    @include mixins.useFlex(column, nowrap, center, flex-start, 0.5rem);
    width: 100%;
    margin-top: 0.875rem;
    padding: 0 1rem;
  }

  .desc {
    padding: 1rem;
    font-size: 0.75rem;
    text-align: center;
    color: colors.$textsecondary;
  }
}

.dividendctr {
  width: 100%;
  height: 9.5rem;
  padding-bottom: 0.25rem;
  border: 1px solid colors.$divider;
  border-radius: 0.375rem;
  background-color: colors.$divider;

  .div_title {
    padding: 0.375rem 0;
    border-bottom: 1px solid colors.$divider;
    font-size: 0.875rem;
    text-align: center;
  }

  .detail {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    margin-top: 0.375rem;
    padding: 0 0.5rem;
    font-size: 0.75rem;

    span {
      @include mixins.useAltFont();
      font-size: 0.875rem;
      font-weight: bold;
    }
  }
}

.stakingreward {
  @include mixins.useFlex(row, nowrap, center, space-between, 0);
  width: 100%;
  padding: 0.625rem 1rem;
  border: 1px solid colors.$divider;
  border-left: 0;
  border-right: 0;

  .img_token_name {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
    }

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      font-size: 0.75rem;

      span {
        @include mixins.useAltFont();
        font-size: 0.875rem;
        font-weight: bold;
      }
    }
  }

  button {
    @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
    @include mixins.useButton();
    @include mixins.useBaseFont();
    padding: 0.375rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: colors.$textprimary;
    background-color: colors.$accent;
  }
}

.tokenproduct {
  width: 100%;
  border: 1px solid colors.$divider;
  border-radius: 0.5rem;
  background-color: colors.$divider;

  .img_symbol {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    padding: 0.5rem;

    .img {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    }

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }

    p {
      font-size: 0.875rem;
      font-weight: bold;
    }
  }

  .detail {
    @include mixins.useFlex(row, wrap, center, space-between, 0);
    padding: 0.75rem 0.5rem;
    border-top: 1px solid colors.$divider;
    font-size: 0.75rem;

    span {
      @include mixins.useAltFont();
      font-size: 0.875rem;
      font-weight: bold;
    }
  }
}

.launchpadproduct {
  width: 100%;
  border: 1px solid colors.$divider;
  border-radius: 0.5rem;
  background-color: colors.$divider;

  .img_status {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    padding: 0.5rem;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }

    span {
      @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
      padding: 0.25rem 0.875rem;
      border: 1px solid colors.$divider;
      border-radius: 1rem;
      font-size: 0.75rem;
      font-weight: 500;
    }
  }

  .price_sub {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    padding: 0 0.5rem;

    .symbol_price {
      margin-bottom: 0.5rem;

      .symbol {
        font-size: 0.875rem;
        font-weight: bold;
      }

      .price {
        font-size: 0.875rem;
        color: colors.$textsecondary;
      }
    }
  }

  .detail {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    padding: 0.75rem 0.5rem;
    border-top: 1px solid colors.$divider;
    font-size: 0.75rem;

    span {
      @include mixins.useAltFont();
      font-size: 0.875rem;
      font-weight: bold;
    }
  }
}

.yieldproduct {
  width: 100%;
  border: 1px solid colors.$divider;
  border-radius: 0.5rem;

  .name {
    padding: 0.5rem;
    font-size: 1rem;
    text-align: center;
  }

  .apy {
    @include mixins.useFlex(column, nowrap, center, center, 0);
    color: colors.$textsecondary;

    span {
      @include mixins.useAltFont();
      font-size: 1rem;
      font-weight: bold;
      color: colors.$textprimary;
    }
  }

  .tvl_progress {
    padding: 0 0.5rem;

    p {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      @include mixins.useAltFont();
      font-size: 0.875rem;
      font-weight: 500;
    }

    .tvl_max_cap {
      @include mixins.useBaseFont();
      font-size: 0.75rem;
      font-weight: 400;
      color: colors.$textsecondary;
    }

    .progress_ctr {
      width: 100%;
      height: 0.375rem;
      margin: 0.375rem 0;
      border-radius: 0.5rem;
      background-color: colors.$divider;

      .progress {
        width: 80%;
        height: 100%;
        border-radius: 0.375rem;
        background-color: colors.$accent;
      }
    }
  }

  .network {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    padding: 0.5rem;
    font-size: 0.875rem;
    font-weight: 400;
  }
}

.stakeingvault {
  .container {
    padding-top: 0.5rem;
    border-top: 1px solid colors.$divider;

    .rebase {
      span {
        font-size: 1.125rem;
        font-weight: bold;
        color: colors.$success;
      }
    }
  }
}

.ammproduct {
  width: 100%;
  border: 1px solid colors.$divider;
  border-radius: 0.5rem;
  background-color: colors.$divider;

  .img_name_apy {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    padding: 0.5rem;
    border-bottom: 1px dashed colors.$divider;

    .img_name {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);

      img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        object-position: center;
      }

      p {
        font-size: 0.875rem;
        font-weight: bold;
      }
    }

    .apy {
      @include mixins.useAltFont();
      font-size: 1rem;
      font-weight: bold;
    }
  }

  .details {
    @include mixins.useFlex(row, wrap, center, space-between, 0.375rem);
    margin-top: 0.375rem;
    margin-bottom: 0.5rem;
    padding: 0 0.5rem;

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.25rem);
      width: 48%;
      font-size: 0.75rem;
      color: colors.$textsecondary;
      font-weight: 500;

      span {
        @include mixins.useAltFont();
        font-size: 0.875rem;
        text-transform: capitalize;
        color: colors.$textprimary;
      }
    }
  }
}

.lst_asset {
  @include mixins.useFlex(row, nowrap, center, space-between, 0);
  width: 100%;
  margin-top: 0.75rem;
  padding: 1rem;
  background: colors.$glass-bg;
  border: 1px solid colors.$glass-border;
  border-radius: 1rem;
  backdrop-filter: colors.$blur-effect;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-2px);
    background: colors.$glass-hover;
    box-shadow: colors.$shadow-lg;
  }

  div {
    @include mixins.useFlex(row, nowrap, center, flex-start, 1rem);

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.25rem);
      font-size: 1rem;
      font-weight: 600;
    }

    span {
      font-size: 0.875rem;
      font-weight: 500;
      color: colors.$textsecondary;
    }
  }

  img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    object-position: center;
    border-radius: 0.75rem;
    transition: all 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  .balance {
    @include mixins.useFlex(column, nowrap, flex-end, flex-end, 0.25rem);
    font-size: 1rem;
    font-weight: 700;
    text-align: right;
    font-weight: 300;

    span {
      @include mixins.useAltFont();

      em {
        margin-left: 0.25rem;
        font-weight: bold;
        font-style: normal;
        color: colors.$success;
      }
    }
  }
}
