@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#hometab {
  @include mixins.useTabsHeight();

  & {
    margin-top: 2.75rem;
    padding-top: 0.5rem;
  }

  .actions {
    @include mixins.useFlex(row, nowrap, center, flex-start, 1.5rem);
    margin: 1rem 0;
    width: 100%;
  }

  .filters {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);
    margin-bottom: 1rem;
    overflow-x: auto;

    button {
      @include mixins.useOutline();
      @include mixins.useBaseFont();
      padding: 0.25rem 0.75rem;
      border-radius: 1rem;
      color: colors.$textsecondary;
      font-weight: bold;
      background-color: rgba($color: colors.$divider, $alpha: 0.25);

      &.active {
        color: colors.$textprimary;
        background-color: colors.$divider;
      }
    }
  }
}
