@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#hometab {
  margin-bottom: 4.25rem;
  padding: 0 1rem;

  #secrets_import {
    @include mixins.useFlex(row, no-wrap, center, space-between, 0);
    margin-top: 1.25rem;

    p {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .importsecret {
      @include mixins.useFlex(row, no-wrap, center, center, 0);
      @include mixins.useButton();
    }
  }

  .secret_tabs {
    @include mixins.useFlex(row, no-wrap, flex-start, flex-start, 1rem);
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    button {
      @include mixins.useButton();
      @include mixins.useBaseFont();
      padding: 0.25rem;
      border-bottom: 1px solid colors.$primary;
      font-size: 0.875rem;
      color: colors.$textsecondary;
      transition: all ease-in-out 0.25s;
    }

    .select_tab {
      border-color: colors.$textprimary;
      color: colors.$textprimary;
    }
  }

  .nokeys {
    font-size: 0.75rem;
    text-align: center;
    color: colors.$textsecondary;
  }

  .avatrctr {
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.125rem;
    border-radius: 50%;
  }
}

.refresh_ctr {
  @include mixins.useFlex(row, no-wrap, center, center, 0);
  width: 100%;
  height: 4rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
