@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#hometab {
  height: 100vh;
  margin-bottom: 7rem;
  padding: 0 1rem;

  .id_actions {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    margin-top: 1rem;

    .sphereid {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
      padding-right: 0.35rem;
      border-radius: 1rem;
      width: fit-content;
      background-color: colors.$textprimary;

      img {
        width: 1.25rem;
        height: 1.25rem;
        border-radius: 50%;
        object-fit: contain;
        object-position: center;
      }

      p {
        font-size: 0.65rem;
        font-weight: bold;
        color: colors.$primary;
      }
    }

    .avatrctr {
      @include mixins.useFlex(row, nowrap, center, center, 0.75rem);

      .notification {
        @include mixins.useFlex(row, nowrap, center, center, 0);
        @include mixins.useButton();
        width: 2rem;
        height: 2rem;
        border: 1px solid colors.$divider;
        border-radius: 0.5rem;
        background-color: colors.$divider;
      }
    }
  }

  .polymarket {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.375rem;
    border-radius: 0.5rem;
    background-color: colors.$accent;

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      font-size: 0.875rem;
      font-weight: bold;

      span {
        font-size: 0.75rem;
        font-weight: 300;
      }
    }

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
    }
  }

}

.profile_actions {
  width: 100%;
  height: 100%;

  .description {
    @include mixins.useFlex(column, nowrap, center, center, 0);
    height: 50%;
    border-bottom: 1px solid colors.$divider;

    p {
      @include mixins.useFlex(column, nowrap, center, center, 0);
      font-size: 0.75rem;
      color: colors.$textprimary;
      text-align: center;

      span {
        color: colors.$textsecondary;
      }
    }
  }

  .action {
    @include mixins.useFlex(column, nowrap, flex-start, center, 0);
    padding: 0 0.5rem;
    height: 50%;

    p {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
      font-size: 0.875rem;
      font-weight: 600;
      color: colors.$textprimary;
    }

    span {
      font-size: 0.75rem;
      color: colors.$textsecondary;
    }
  }

  .first {
    border-bottom: 1px solid colors.$divider;
  }
}