@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#keystab {
  @include mixins.useTabsHeight();

  & {
    padding-top: 0.5rem;
  }

  .tab-title {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    font-size: 1.25rem;
    font-weight: 600;

    span {
      font-size: 0.875rem;
      font-weight: 300;
    }
  }

  .key-filters {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);
    margin: 0.5rem -1rem;
    padding: 0 1rem;
    border-bottom: 1px solid rgba($color: colors.$divider, $alpha: 0.25);
    overflow-x: auto;

    button {
      @include mixins.useOutline();
      @include mixins.useBaseFont();

      & {
        min-width: fit-content;
        padding: 0.375rem 0.625rem;
        font-size: 0.875rem;
        font-weight: 600;
        color: colors.$textsecondary;
      }

      &.active {
        border-bottom: 1px solid colors.$textprimary;
        color: colors.$textprimary;
      }
    }
  }

  .keys-ctr {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.5rem);
  }

  .importkey {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    @include mixins.useButton();

    & {
      position: fixed;
      bottom: 4.5rem;
      right: 1rem;
      width: 3.25rem;
      height: 3.25rem;
      border-radius: 50%;
    }
  }
}

.keycomponent {
  @include mixins.useFlex(row, nowrap, center, space-between, 0);
  width: 100%;
  height: 3.5rem;
  padding-right: 0.5rem;
  border: 1px solid colors.$divider;
  border-radius: 0.375rem;

  .key-logo {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    height: 100%;

    .img {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      width: 3.5rem;
      height: 100%;
      border-radius: 0.25rem 0 0 0.25rem;
      background-color: colors.$divider;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .key-name {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      font-weight: bold;

      span {
        font-size: 0.75rem;
        font-weight: 300;
      }
    }
  }

  .key-actions {
    @include mixins.useFlex(row, nowrap, center, flex-end, 0.5rem);

    button {
      @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
      @include mixins.useOutline();
      @include mixins.useBaseFont();

      & {
        width: fit-content;
        height: 1.75rem;
        padding: 0.375rem 0.875rem;
        border: 1px solid colors.$divider;
        border-radius: 0.25rem;
        font-size: 0.875rem;
        font-weight: 500;
        color: colors.$textprimary;
        background-color: rgba($color: colors.$divider, $alpha: 0.25);
      }

      &.revoke {
        color: colors.$danger;
      }
    }
  }
}
