#labstab {
  margin-bottom: 6rem;
  padding-top: 1rem;
}

#labstab .projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

#labstab .projects .project {
  width: 100%;
  height: 10rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}

#labstab .projects .project .project_cover {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    to bottom,
    var(--divider),
    rgba(36, 45, 57, 0.85),
    rgba(36, 45, 57, 0.85)
  );
}

#labstab .projects .project .project_logo {
  width: 3rem;
  height: 3rem;
  padding: 0.375rem;
  border-radius: 0.625rem;
  background-color: var(--divider);
}

#labstab .projects .project .project_logo img {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  object-fit: contain;
  object-position: center;
}

#labstab .projects .project .about {
  width: 100%;
}

#labstab .projects .project .about p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  font-size: 0.875rem;
  font-weight: bold;
}

#labstab .projects .project .about .description {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.25rem;
  font-size: 0.75rem;
  font-weight: 300;
}

#labstab .projects .project .about .project_category {
  width: fit-content;
  margin-top: 0.25rem;
  padding: 0 0.5rem;
  border-radius: 1rem;
  font-size: 0.625rem;
  font-weight: 600;
  background-color: var(--divider);
}
