@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#labstab {
  margin-bottom: 4.25rem;
  padding: 1rem 0.5rem;

  .labs-header {
    margin-bottom: 1.5rem;
    padding: 0 0.5rem;

    h1 {
      font-size: 1.5rem;
      font-weight: 600;
      color: colors.$textprimary;
      margin-bottom: 0.25rem;
      background: linear-gradient(90deg, colors.$accent, rgba($color: colors.$accent, $alpha: 0.15));
      background-clip: text;
    }

    p {
      font-size: 0.875rem;
      color: colors.$textsecondary;
      margin-bottom: 0.5rem;
    }
  }

  .projects {
    @include mixins.useFlex(row, wrap, center, space-between, 0.375rem);
    width: 100%;

    .project {
      width: 49%;
      height: 12rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 0.5rem;

      .project_cover {
        @include mixins.useFlex(column, nowrap, flex-start, flex-end, 0.5rem);
        width: 100%;
        height: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        background: colors.$lightgradient;
      }

      .project_logo {
        width: 3rem;
        height: 3rem;
        padding: 0.375rem;
        border-radius: 0.625rem;
        background-color: colors.$divider;

        img {
          width: 100%;
          height: 100%;
          border-radius: 0.25rem;
          object-fit: contain;
          object-position: center;
        }
      }

      .about {
        width: 100%;

        p {
          @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
          font-size: 0.875rem;
          font-weight: bold;
        }

        .description {
          @include mixins.useFlex(row, nowrap, center, space-between, 0);
          margin-top: 0.25rem;
          font-size: 0.75rem;
          font-weight: 300;
        }

        .project_category {
          width: fit-content;
          margin-top: 0.25rem;
          padding: 0 0.5rem;
          border-radius: 1rem;
          font-size: 0.625rem;
          font-weight: 600;
          background-color: colors.$divider;
        }
      }
    }
  }
}