#labstab {
  margin-bottom: 6rem;
}

#labstab .title {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}

#labstab .projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  padding: 0 1rem;
}

#labstab .projects .project {
  width: 100%;
  padding-bottom: 0.25rem;
  border-radius: 0.5rem;
  background-color: rgba(248, 250, 252, 0.01);
  border: 1px solid rgba(248, 250, 252, 0.01);
}

#labstab .projects .project .project_cover {
  width: 100%;
  height: 8rem;
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
  object-position: center;
}

#labstab .projects .project .project_logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 0.5rem;
  padding: 0.25rem;
  transform: translateY(-1rem);
  border: 1px solid var(--divider);
  border-radius: 0.5rem;
  background-color: var(--textsecondary);
}

#labstab .projects .project .project_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

#labstab .projects .project .about {
  padding: 0 0.5rem;
}

#labstab .projects .project .about p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
}

#labstab .projects .project .about span {
  margin-top: 0.25rem;
  font-size: 0.87rem;
  color: var(--textsecondary);
}

#labstab .projects .project .about .project_category {
  width: fit-content;
  margin-top: 0.25rem;
  float: right;
  padding: 0 0.5rem;
  border-radius: 1rem;
  font-size: 0.625rem;
  font-weight: 600;
  background-color: var(--divider);
}
