#markettab {
  margin-bottom: 6rem;
}

#markettab .title {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

#markettab .animation {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#markettab #coins {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
}

#markettab #coins .coin {
  width: 100%;
  padding: 0.25rem 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--divider);
}

#markettab #coins .coin #l_00 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
}

#markettab #coins .coin #l_00 img {
  width: 2rem;
  height: 2rem;
  object-fit: contain;
  object-position: center;
}

#markettab #coins .coin #l_00 .name_symbol .name {
  font-weight: 600;
}

#markettab #coins .coin #l_00 .name_symbol .symbol {
  font-size: 0.875rem;
  color: var(--textsecondary);
}
