@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.notifications {
  margin-bottom: 4.25rem;
  padding: 1rem;

  .notification {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    padding: 0.75rem 0;
    border-top: 1px solid colors.$divider;

    img {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      object-position: center;
    }

    .currency_link {
      color: colors.$textprimary;

      .link {
        @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);

        span {
          @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
          font-weight: 400;
          color: colors.$accent;
        }
      }
    }
  }
}
