@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.profiletab {
  .pic_uname {
    @include mixins.useFlex(column, nowrap, center, center, 0.625rem);
    width: 100%;
    padding: 1rem;
    margin-top: 1.25rem;

    p {
      text-align: center;
    }

    .uid {
      margin-top: 0.25rem;
      font-size: 0.75rem;
      font-weight: bold;
    }
  }

  .earn {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.75rem);
    margin: 0 1rem;
    padding: 0.75rem 0;
    border: 1px solid colors.$divider;
    border-right: 0;
    border-left: 0;

    img {
      width: 2rem;
      height: 2rem;
    }

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.125rem);
      font-size: 0.875rem;
      font-weight: bold;
    }

    span {
      font-size: 0.75rem;
      font-weight: 300;
      color: colors.$textsecondary;
    }
  }

  .useai {
    width: 100%;
  }
}
