@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#rewards {
  margin-bottom: 1rem;

  .performunlocktasks {
    border: 1px solid colors.$divider;
    border-radius: 0.625rem;
    background-color: #2a2e2c;

    .title_desc {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      padding: 0.5rem 1rem;
      font-size: 1rem;

      span {
        font-size: 0.875rem;
        color: colors.$textsecondary;
      }
    }

    .tasks {
      background-color: transparent;
    }
  }
}

.unlocktask {
  padding: 0.5rem 1rem;
  border-top: 1px solid colors.$divider;

  .img_rewards {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);

    img {
      width: 2rem;
      height: 2rem;
    }

    .unlockreward {
      @include mixins.useFlex(row, nowrap, center, center, 0.25rem);

      span {
        @include mixins.useAltFont();
        font-weight: bold;
      }

      img {
        width: 1rem;
        height: 1rem;
      }
    }
  }

  .titledesc {
    margin-top: 0.5rem;

    p {
      font-size: 0.875rem;
      font-weight: 500;
    }

    span {
      font-size: 0.75rem;
      color: colors.$textsecondary;
    }
  }
}
