@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#rewards {
  padding: 1rem;

  .locked_balances {
    margin-top: 3rem;
    padding-bottom: 0.375rem;
    border-bottom: 1px solid colors.$divider;

    .icon_ctr {
      @include mixins.useFlex(row, nowrap, center, space-around, 0);
      width: 100%;

      .icon {
        @include mixins.useFlex(row, nowrap, center, space-around, 0);
        width: 4.875rem;
        height: 4.875rem;
        border-radius: 1.25rem;
        background-color: colors.$divider;

        img {
          width: 70%;
          height: 70%;
        }
      }
    }

    .locked_amount {
      margin-top: 0.875rem;

      p {
        @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);
        font-size: 1.25rem;
        font-weight: 300;
      }

      span {
        @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
        @include mixins.useAltFont();
        font-size: 1.25rem;
        font-weight: 600;
        color: colors.$textsecondary;

        img {
          width: 1.25rem;
          height: 1.25rem;
          border-radius: 50%;
        }
      }
    }
  }

  .tasks {
    margin-top: 0.375rem;

    .tasks_title {
      font-size: small;
      font-weight: bold;
      color: colors.$textsecondary;
    }

    .title {
      font-size: 1.5rem;
    }

    .task {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
      margin-top: 0.5rem;
      padding: 0.5rem 0;
      border: 1px solid colors.$divider;
      border-left: 0;
      border-right: 0;

      img {
        width: 2rem;
        height: 2rem;
      }

      p {
        @include mixins.useFlex(
          column,
          nowrap,
          flex-start,
          flex-start,
          0.125rem
        );
        font-size: 0.875rem;
        font-weight: bold;

        span {
          font-weight: 300;

          em {
            @include mixins.useAltFont();
            font-style: normal;
            font-weight: bold;

            img {
              width: 0.875rem;
              height: 0.875rem;
              border-radius: 50%;
            }
          }
        }
      }
    }
  }

  .unlockedamount {
    margin-top: 0.75rem;

    .desc {
      font-size: 0.75rem;
      font-weight: 600;
      color: colors.$textsecondary;
    }

    .available {
      @include mixins.useAltFont();
      font-size: 0.875rem;
      font-weight: bold;

      span {
        font-weight: inherit;
      }
    }

    .aboutunlocked {
      margin-top: 0.5rem;
      padding: 0.75rem 0;
      border: 1px solid colors.$divider;
      border-right: 0;
      border-left: 0;
      font-size: 0.875rem;
      color: colors.$textsecondary;
    }
  }

  .history {
    margin-top: 1rem;
    margin-bottom: 3rem;

    .history_title {
      font-size: 1.25rem;
      margin-bottom: 0.375rem;
    }

    .message {
      padding: 0.5rem 0;
      border-top: 1px solid colors.$divider;
      font-size: 0.75rem;

      span {
        font-weight: 300;
        color: colors.$textsecondary;
      }
    }

    .l_message {
      border-bottom: 1px solid colors.$divider;
    }

    .nohistory {
      font-size: 0.875rem;
      text-align: center;
      color: colors.$textsecondary;
    }
  }
}
