@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#rewards {
  @include mixins.useTabsHeight();

  & {
    padding-top: 0.5rem;
  }

  .balance-xrate {
    border: 1px solid rgba($color: colors.$divider, $alpha: 0.25);
    border-radius: 0.5rem;

    .balance {
      border-bottom: 1px solid rgba($color: colors.$divider, $alpha: 0.25);
      padding: 0.5rem;

      .bal {
        @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);
        font-size: 1.5rem;
        font-weight: bold;

        span {
          font-size: 0.75rem;
        }
      }

      img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
      }
    }

    .xrate {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      width: 100%;
      padding: 0.875rem 0.5rem;

      span {
        font-size: 0.875rem;
        font-weight: bold;
      }
    }
  }

  .daily-checkin {
    @include mixins.useFlex(row, nowrap, center, center, 0.375rem);
    @include mixins.useBaseFont();
    @include mixins.useOutline();
    width: 100%;
    padding: 0.625rem;
    margin-top: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid colors.$divider;
    color: colors.$textprimary;
    box-shadow: colors.$innershadow;

    & {
      font-weight: 600;
    }

    &:disabled {
      box-shadow: none;
    }
  }

  .earn-more {
    margin-top: 1rem;

    .earn-title {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      font-size: 1.125rem;
      font-weight: 600;

      span {
        font-size: 0.875rem;
        font-weight: 300;
      }
    }
  }

  .unlock {
    margin-top: 1rem;

    .title {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      margin-bottom: 0.75rem;
      font-size: 1.125rem;
      font-weight: 600;

      span {
        font-size: 0.875rem;
        font-weight: 300;
      }
    }

    .submit-burn {
      @include mixins.useButton();

      & {
        width: 100%;
        margin-top: 0.625rem;
      }
    }
  }
}

.refer-task {
  margin: 1rem -1rem;
  margin-bottom: unset;
  padding: 0.5rem 1rem;
  padding-bottom: 0.75rem;
  border: 1px solid colors.$divider;
  border-left: 0;
  border-right: 0;

  .lo1 {
    @include mixins.useFlex(row, nowrap, flex-start, flex-start, 0.5rem);

    img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: contain;
    }

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      font-weight: bold;

      span {
        font-size: 0.875rem;
        font-weight: 300;
      }
    }
  }

  .lo2 {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    margin-top: 0.875rem;

    .link-icon {
      .icon {
        padding: 0.375rem 0.5rem;
        border-radius: 0.25rem;
        background-color: colors.$secondary;
      }

      .link {
        margin-left: 0.375rem;
        font-size: 0.875rem;
        font-weight: 600;
        color: colors.$textsecondary;
      }
    }

    .actions {
      @include mixins.useFlex(row, nowrap, center, center, 0.75rem);
      width: fit-content;

      button {
        @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
        width: 2.25rem;
        height: 2.25rem;
      }

      .copy {
        @include mixins.useOutline();
        width: fit-content;
        font-size: 0.875rem;
        font-weight: 600;
        color: colors.$textsecondary;
      }

      .tg {
        @include mixins.useButton();

        & {
          gap: 0;
          padding: 0.375rem 0.625rem;
          border-radius: 0.5rem;
        }
      }
    }
  }
}

.complete-task {
  @include mixins.useFlex(row, nowrap, center, flex-start, 0.625rem);
  margin: 0 -1rem;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid colors.$divider;

  img {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: contain;
  }

  p {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    font-weight: bold;

    span {
      font-size: 0.875rem;
      font-weight: 300;
    }
  }
}
