@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#rewards {
  padding: 1rem;
  margin-bottom: 4.25rem;

  .icon_ctr {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    width: 100%;
    margin-top: 2rem;

    img {
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
    }
  }

  .locked_balances {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid colors.$divider;

    .icon_desc {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);

      span {
        @include mixins.useFlex(row, nowrap, center, center, 0);
        width: 1.875rem;
        height: 1.875rem;
        border: 1px solid colors.$divider;
        border-radius: 50%;
        background-color: colors.$divider;
      }
    }

    .locked_amount {
      @include mixins.useAltFont();
      font-size: 1.875rem;
      font-weight: bold;
      text-align: center;
      animation: animatelockedvalue 0.5s ease-in-out;

      img {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
      }
    }

    .progress {
      width: 30%;
      height: 0.25rem;
      margin-top: 0.5rem;
      border-radius: 1rem;
      background-color: rgba($color: colors.$divider, $alpha: 0.25);

    }

    .progress_txt {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      margin-top: 0.25rem;

      span {
        font-size: 0.875rem;
        color: colors.$textsecondary;
      }

      .value {
        @include mixins.useAltFont();
        font-weight: 500;
      }
    }
  }

  .boost {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);
    margin-top: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    img {
      width: 1.875rem;
      height: 1.875rem;
      border-radius: 50%;
    }

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      font-size: 0.875rem;

      span {
        @include mixins.useAltFont();
        font-weight: bold;
      }
    }
  }

  .tasks_title {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
    margin-top: 0.5rem;
    font-size: 0.875rem;
    font-weight: 500;

    img {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
    }
  }

  .refer_task {
    margin-top: 0.5rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    ._task {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);
      padding: 0.5rem;

      img {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        object-position: center;
      }

      p {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);

        span {
          @include mixins.useFlex(row, nowrap, center, flex-start, 0);
          font-size: 0.875rem;
          font-weight: bold;

          img {
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
          }
        }
      }
    }

    .task_actions {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      width: 100%;
      padding: 0.25rem;
      border-top: 1px solid colors.$divider;

      .url {
        width: 75%;
        padding: 0.5rem;
        border-radius: 0.25rem;
        font-size: 0.75rem;
        font-weight: bold;
        color: colors.$textsecondary;
        background-color: rgba($color: colors.$divider, $alpha: 0.025);
      }

      .actions {
        @include mixins.useFlex(row, nowrap, center, center, 0.25rem);

        button {
          @include mixins.useFlex(row, nowrap, center, center, 0);
          @include mixins.useButton();
          width: 2rem;
          height: 2rem;
        }

        .send_tg {
          border-radius: 0.375rem;
          background-color: colors.$accent;
        }
      }
    }
  }

  .unlock_task {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    .image {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      object-position: center;
    }

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);

      span {
        @include mixins.useFlex(row, nowrap, center, flex-start, 0);
        font-size: 0.875rem;
        font-weight: bold;

        img {
          width: 1rem;
          height: 1rem;
          border-radius: 50%;
        }
      }
    }
  }

  .unlockedamount {
    margin-top: 0.5rem;

    .desc {
      font-size: 0.75rem;
      font-weight: 500;
    }

    .available {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0);
      @include mixins.useAltFont();
      font-size: 1rem;
      font-weight: 600;

      img {
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
      }
    }

    .aboutunlocked {
      margin-top: 0.375rem;
      padding: 0.25rem 0;
      border: 1px solid colors.$divider;
      border-left: 0;
      border-right: 0;
      font-size: 0.75rem;
      font-weight: 500;
      color: colors.$textsecondary;
    }
  }

  .history {
    margin-top: 1rem;

    .history_title {
      font-size: 1.25rem;
      margin-bottom: 0.375rem;
    }

    .message {
      padding: 0.5rem 0;
      border-top: 1px solid colors.$divider;
      font-size: 0.75rem;

      span {
        font-weight: 300;
        color: colors.$textsecondary;
      }
    }

    .nohistory {
      font-size: 0.875rem;
      text-align: center;
      color: colors.$textsecondary;
    }
  }

  .animation_ctr {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: fit-content;
  }
}

@keyframes animatelockedvalue {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}