#securitytab {
  margin-bottom: 6rem;
}

#securitytab .tab_title {
  padding: 1rem;
  font-size: large;
  font-weight: 600;
}

#securitytab .divider {
  width: 100%;
  height: 0.5px;
  margin-bottom: 1rem;
  background-color: var(--divider);
}

#securitytab .icon {
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  font-weight: 600;
}

#securitytab .ic_desc {
  padding: 0 1rem;
  color: var(--textsecondary);
  font-size: small;
}

#securitytab .ic_desc_0 {
  margin-top: 0.75rem;
  padding: 0 1rem;
  font-size: small;
}

#securitytab .keysplits {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.75rem;
}

#securitytab .keysplits .key {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.25rem;
  border: 0.5px solid var(--divider);
  border-radius: 0.25rem;
}

#securitytab .keysplits .key > div .key_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-weight: 600;
  font-size: small;
}

#securitytab .keysplits .key > div .security,
#securitytab .keysplits .key > div .uptime {
  margin-left: 0.5rem;
  padding: 0 0.5rem;
  border-radius: 1rem;
  font-size: 0.625rem;
  font-weight: 600;
  background-color: var(--divider);
}

.eex_ctr {
  margin-top: 1rem;
  padding: 0 1rem;
}

.eex_ctr .eex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  font-weight: 600;
}

.eex_ctr span {
  color: var(--textsecondary);
  font-size: small;
}

.sel_tee {
  margin: 0.5rem 0;
  padding: 0 1rem;
  font-size: small;
  font-weight: 600;
}

.choose_tee {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 0.5rem;
  overflow-x: auto;
  margin-top: 0.5rem;
  padding: 0 1rem;
}

.choose_tee button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex: 0 0 auto;
  min-width: fit-content;
  padding: 0.375rem 1rem;
  border: 0;
  border-radius: 0.125rem;
  outline: none;
  outline-color: transparent;
  color: var(--textprimary);
}

.tees {
  margin-top: 1rem;
  padding: 0 1rem;
  padding-bottom: 0.5rem;
}

.tees .tee .selection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tees .tee .selection {
  font-size: 0.875rem;
  font-weight: 500;
}

.tees .tee .desc {
  margin-top: 0.25rem;
  text-align: justify;
  font-size: 0.875rem;
}

.tees .tee .selection span {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  padding: 0.125rem 0.5rem;
  border-radius: 1rem;
  background-color: var(--danger);
  text-transform: capitalize;
  font-size: 0.75rem;
  font-weight: bold;
}

.tees .tee .specs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.tees .tee .specs div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 48%;
  height: 2.875rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: var(--divider);
}

.tees .tee .specs p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 0.75rem;
  font-weight: bold;
}

.tees .tee .specs p span {
  font-weight: 300;
}

.key_mgmt {
  margin-bottom: 1rem;
  padding: 0 1rem;
}

.key_mgmt .title,
.twofa .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: medium;
  font-weight: 600;
  gap: 0.5rem;
}

.key_mgmt .desc,
.twofa .desc {
  margin-top: 0.5rem;
  font-size: small;
  color: var(--textsecondary);
}

.key_mgmt .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: small;
  font-weight: 600;
}

.tees button,
.key_mgmt .upgrade {
  width: 100%;
  margin-top: 1rem;
  padding: 0.625rem 0;
  border: 0;
  border-radius: 0.25rem;
  outline: none;
  outline-color: transparent;
  background-color: var(--textprimary);
  color: var(--primary);
  font-size: small;
  font-weight: 600;
}

.tees button {
  margin-top: 0.5rem;
}

.twofa {
  padding: 0 1rem;
}

.twofa .switch {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.twofa .switch span {
  font-size: small;
  font-weight: 600;
}
