@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#sendcrypto {
  padding: 1rem;

  .send_title {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    font-size: 1.25rem;

    span {
      font-size: 0.75rem;
      color: colors.$textsecondary;
    }
  }

  .select_currency_ctr {
    margin-top: 1rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;

    .select_currency {
      width: 100%;
      height: 100%;

      .currency_img_desc {
        @include mixins.useFlex(row, nowrap, center, space-between, 0);
        padding: 0.625rem 0.375rem;
        border-bottom: 1px solid colors.$divider;

        .flag_balance {
          @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
          border-bottom: 0;

          img {
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            object-fit: contain;
            object-position: center;
          }

          .flag {
            @include mixins.useFlex(column, nowrap, center, center, 0);
            width: 2.25rem;
            height: 2.25rem;
            border-radius: 50%;
            background-color: colors.$textprimary;
          }

          .desc {
            font-size: 0.875rem;
            font-weight: 600;
            color: colors.$textprimary;

            span {
              font-size: 0.75rem;
              font-weight: 300;
              color: colors.$textsecondary;
            }
          }
        }

        .radioctr {
          @include mixins.useFlex(row, nowrap, center, center, 0);
          padding: unset;
          width: 0.875rem;
          height: 0.875rem;
          border: 1px solid colors.$divider;
          border-radius: 50%;
          background-color: colors.$divider;

          div {
            width: 50%;
            height: 50%;
            border-radius: 50%;
            padding: unset;
            margin: unset;
          }
        }
      }

      .f_currency {
        border-radius: 0.25rem 0.25rem 0 0;
      }

      .l_currency {
        border-radius: 0 0 0.25rem 0.25rem;
        border-bottom: 0;
      }
    }
  }

  .description {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: colors.$textsecondary;
  }

  .options_title {
    margin-top: 1rem;
    font-size: 0.875rem;

    span {
      font-weight: bold;
    }
  }

  #sendoption {
    border-width: 2px;
    border-color: colors.$accent;
  }

  .send_option {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid colors.$divider;
    border-radius: 0.25rem;

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      font-size: 0.875rem;
      font-weight: bold;

      span {
        font-size: 0.75rem;
        font-weight: 500;
        color: colors.$textsecondary;
      }
    }

    img {
      width: 2.5rem;
      height: 2.5rem;
      object-fit: contain;
    }
  }
}
