#vaulttab {
  margin-bottom: 6rem;
  padding: 0 1rem;
}

#vaulttab .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

#vaulttab .actions01 {
  margin-top: 2rem;
}

#vaulttab .actions01 button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 30%;
  padding: 1rem;
  background-color: transparent;
  border: 1px solid var(--divider);
  border-radius: 0.125rem;
}

#vaulttab .actions02 {
  margin-top: 1rem;
  padding: 0.875rem;
  border: 1px solid var(--divider);
  border-radius: 0.25rem;
}

#vaulttab .actions02 button {
  width: 48%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--divider);
  border: 0;
  outline: none;
  outline-color: transparent;
  border-radius: 0.25rem;
}

#vaulttab .actions01 button span {
  font-weight: 600;
}

#vaulttab .actions div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: fit-content;
}

#vaulttab .actions div button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border: 0;
  border-radius: 50%;
  outline: none;
  outline-color: transparent;
  background-color: var(--accent);
  cursor: pointer;
}

#vaulttab .actions div p {
  color: var(--textprimary);
  font-weight: 400;
  font-size: small;
}

#vaulttab .actions #share button {
  background: var(--danger);
}

#vaulttab .actions #sendfromtoken button {
  background-color: var(--divider);
}
