#vaulttab {
  margin-bottom: 6rem;
  padding: 0 1rem;
}

#vaulttab .bal-actions {
  border-radius: 0.5rem;
  border: 1px solid var(--divider);
}

#vaulttab .actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: no-wrap;
  gap: 0.5rem;
  padding: 0.25rem;
  border-top: 1px solid var(--divider);
}

#vaulttab .actions button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 50%;
  padding: 0.75rem;
  background-color: transparent;
  border: 1px solid var(--divider);
  border-radius: 0.25rem;
  color: var(--textprimary);
}

#vaulttab .actions .send {
  color: var(--accent);
}

#vaulttab .actions .receive {
  color: var(--success);
}

#vaulttab .actions button span {
  font-weight: 600;
}

#vaulttab .actions #share button {
  background: var(--danger);
}

#vaulttab .actions #sendfromtoken button {
  background-color: var(--divider);
}

#vaulttab #share {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  height: 2.5rem;
  border: 1px solid var(--danger);
  border-radius: 0.25rem;
}

#vaulttab #share .divider {
  width: 1px;
  height: 100%;
  border: 1px solid var(--danger);
}

#vaulttab #share button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 100%;
  padding: 0.5rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  border-radius: 0.25rem;
  background-color: transparent;
}

#vaulttab #secrets_import {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.25rem;
}

#vaulttab #secrets_import p {
  font-size: 1.5rem;
  font-weight: bold;
}

#vaulttab #secrets_import .importsecret {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 0;
}
