@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;
.secrets_container {
  padding-left: 10px;
  margin-left: 10px;
}

#secrets_import {
  padding-left: 10px;
  margin-left: 10px;

  @include mixins.useFlex(row, nowrap, center, space-between, 0);
  margin-top: 1.25rem;

  p {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .importsecret {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    @include mixins.useButton();
    width: 2.125rem;
    height: 2.125rem;
    border-radius: 50%;
    background-color: colors.$accent;
  }
}

.secret_tabs {
  @include mixins.useFlex(row, nowrap, flex-start, flex-start, 1rem);
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding-left: 10px;
  margin-left: 10px;

  button {
    @include mixins.useButton();
    @include mixins.useBaseFont();
    padding: 0.25rem;
    border-bottom: 1px solid colors.$primary;
    font-size: 0.875rem;
    color: colors.$textsecondary;
    transition: all ease-in-out 0.25s;
  }

  .select_tab {
    border-color: colors.$textprimary;
    color: colors.$textprimary;
  }
}

.nokeys {
  font-size: 0.75rem;
  text-align: center;
  color: colors.$textsecondary;
}

.profile_actions {
  width: 100%;
  height: 100%;

  .action {
    @include mixins.useFlex(column, nowrap, flex-start, center, 0);
    padding: 0 0.5rem;
    height: 50%;

    p {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
      font-size: 0.875rem;
      font-weight: 600;
      color: colors.$textprimary;
    }

    span {
      font-size: 0.75rem;
      color: colors.$textsecondary;
    }
  }

  .first {
    border-bottom: 1px solid colors.$divider;
  }
}

.claim-gpt {
  @include mixins.useFlex(row, nowrap, center, center, 0.375rem);
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background-color: colors.$textprimary;

  span {
    font-size: 0.75rem;
    font-weight: bold;
    color: colors.$primary;
  }

  img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    object-position: center;
  }
}
