@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#assetdetails {
  width: 100vw;
  height: 100vh;
  padding: 1rem;

  .token {
    .img_name_symbol {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);

      img {
        width: 3.25rem;
        height: 3.25rem;
        border-radius: 50%;
      }

      p {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);

        span {
          font-weight: 600;
          text-transform: uppercase;

          &.bera-usdc-symbol {
            text-transform: unset;
          }
        }
      }
    }

    .price_change {
      @include mixins.useFlex(row, nowrap, flex-end, flex-start, 0.5rem);
      margin: 1rem 0;
      font-size: 1.125rem;
      font-weight: 600;

      span {
        font-size: 0.875rem;

        &.positive {
          color: colors.$success;
        }

        &.negative {
          color: colors.$danger;
        }
      }
    }
  }

  .pice-desc {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
    margin-top: -1rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: colors.$textsecondary;
  }

  .tokendesc {
    margin-top: 1rem;
    font-size: 0.875rem;
  }

  .token_stats {
    margin-top: 1rem;
    padding-bottom: 3.5rem;

    p {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      margin: 0 -1rem;
      padding: 0.875rem 1rem;
      border-top: 1px solid colors.$divider;

      span {
        font-weight: 600;
      }
    }
  }

  .assetactions {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    padding: 0.5rem;
    border-top: 1px solid colors.$divider;
    background-color: colors.$primary;
    z-index: 1000;

    button {
      @include mixins.useFlex(row, nowrap, center, center, 0.375rem);
      @include mixins.useButton();

      & {
        width: 49%;
        height: 100%;
      }
    }
  }
}
