@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#convert {
  padding: 1rem;

  .conversion,
  .conversion .flag_symbol,
  .conversion .flag_symbol .flag,
  .convertqty button {
    @include mixins.useFlex(column, nowrap, center, flex-start, 0.25rem);
  }

  .conversion {
    flex-direction: row;
    justify-content: center;
    gap: 3.5rem;
    margin-top: 8rem;
    border: 0;
    padding-bottom: 0.5rem;

    .flag_symbol {
      .flag {
        justify-content: center;
        gap: unset;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        object-fit: contain;
        object-position: center;
        background-color: colors.$textprimary;
      }

      .symbol {
        font-size: 0.75rem;
        font-weight: bold;
        color: colors.$textsecondary;
      }
    }

    .icon {
      transform: rotate(90deg);
    }
  }

  .desc {
    margin: 1rem;
    text-align: center;
    font-size: 0.75rem;
  }

  .availablebalance {
    width: 100%;
    text-align: right;
    font-size: 0.75rem;
    font-weight: bold;
    color: colors.$textsecondary;

    span {
      color: colors.$textprimary;
    }
  }

  .convertqty {
    margin-top: 1.5rem;

    button {
      @include mixins.useFlex(row, nowrap, center, center, 0.375rem);
      @include mixins.useButton();
      @include mixins.useBaseFont();
      width: 100%;
      margin-top: 1rem;
      padding: 0.75rem;
      border-radius: 0.25rem;
      background-color: colors.$accent;
      font-weight: 500;
      color: colors.$textprimary;
      transition: all ease-in-out 0.25s;

      &:disabled {
        background-color: colors.$divider;
        color: colors.$textsecondary;
      }
    }
  }
}
