@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.referearn {
  border-bottom: 1px solid colors.$divider;
  padding-bottom: 0.5rem;

  .title_desc {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    font-size: 1rem;

    span {
      font-size: 0.75rem;
      color: colors.$textsecondary;
    }
  }

  .actions {
    margin-top: 0.5rem;

    button {
      @include mixins.useButton();
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      width: 100%;
      min-height: 2.5rem;
      padding: 0.25rem;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      color: colors.$textprimary;
    }

    .copylink {
      margin-top: 0.5rem;
      padding-left: 0.5rem;
      color: colors.$textsecondary;
      background-color: colors.$divider;

      span {
        @include mixins.useFlex(row, nowrap, center, center, 0.25rem);
        padding: 0 0.5rem;
        border-left: 1px solid colors.$divider;
        color: colors.$textsecondary;
      }
    }

    .send_tg {
      justify-content: center;
      gap: 0.5rem;
      margin-top: 0.5rem;
      background-color: colors.$accent;
      font-weight: 500;
    }

    .genlink {
      font-size: 0.875rem;
      font-weight: 500;
    }
  }

  .mindesc {
    width: 100%;
    margin-top: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
    color: colors.$textsecondary;
  }
}
