@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#aboutsecurity {
  @include mixins.useFlex(column, nowrap, center, center, 0);
  width: 100%;
  height: 96vh;

  .aboutsec {
    padding: 0 1rem;

    .title,
    .desc {
      text-align: center;
    }

    .title {
      font-size: 1.25rem;
    }

    .desc {
      font-size: 0.875rem;
      color: colors.$textsecondary;
    }

    .descmsg {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
      margin-top: 1rem;
      padding: 0.5rem 0;
      border: 1px solid colors.$divider;
      border-left: 0;
      border-right: 0;
      font-size: 0.875rem;
      font-weight: 400;
      text-align: left;
    }

    .get {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.75rem);
      margin: 0.625rem -1rem;
      padding: 0.625rem 1rem;
      background-color: rgba($color: colors.$divider, $alpha: 0.015);

      img {
        width: 2.5rem;
        height: 2.5rem;
        object-fit: contain;
        object-position: center;
      }

      p {
        text-align: left;
        font-size: 0.875rem;
        font-weight: bold;
      }

      span {
        font-size: 0.75rem;
        font-weight: 300;
        color: colors.$textsecondary;
      }
    }

    .setup {
      @include mixins.useFlex(row, nowrap, center, center, 0.5rem);
      @include mixins.useButton();
      @include mixins.useBaseFont();
      gap: 0.5rem;
      width: 100%;
      margin-top: 1rem;
      padding: 0.5rem;
      border-radius: 0.25rem;
      background-color: colors.$danger;
      font-size: 0.75rem;
      font-weight: 500;
      color: colors.$textprimary;
    }

    .desc_footer {
      margin-top: 0.5rem;
    }
  }
}
