@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#addemail {
  padding: 1rem;

  .title {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    padding-bottom: 0.5rem;
    border-bottom: 1px solid colors.$divider;
    font-size: 1.375rem;

    .desc {
      font-size: 0.75rem;
      color: colors.$textsecondary;
    }
  }

  .img {
    @include mixins.useFlex(column, nowrap, center, center, 0);
    width: 100%;
    margin-top: 3rem;

    img {
      width: 5rem;
      height: 5rem;
      object-fit: cover;
      object-position: center;
    }

    p {
      width: 100%;
      margin-top: 0.5rem;
      text-align: left;
      font-size: 0.875rem;
      color: colors.$textsecondary;
    }
  }

  .progressctr {
    width: 100%;
    height: 0.25rem;
    margin-top: 1rem;
    border-radius: 1rem;

    .progress {
      width: 5%;
      height: 100%;
      border-radius: 1rem;
      background-color: colors.$danger;
      transition: all ease-in-out 0.25s;
    }

    .progresscount {
      margin-top: 0.25rem;
      font-size: 0.75rem;
      font-weight: 600;
      color: colors.$textsecondary;
    }
  }

  .form {
    margin-top: 3rem;

    .submitemail {
      @include mixins.useFlex(row, nowrap, center, center, 0.5rem);
      @include mixins.useButton();
      @include mixins.useBaseFont();
      width: 100%;
      height: 2.25rem;
      margin-top: 2rem;
      border-radius: 0.25rem;
      font-size: 0.875rem;
      font-weight: 500;
      color: colors.$textprimary;
      background-color: colors.$danger;
    }
  }
}
