@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#recoverysetup {
  width: 100%;
  height: 100vh;
  padding: 1rem;
  background-color: colors.$primary;

  .images {
    @include mixins.useFlex(row, nowrap, center, center, 0.5rem);
    margin-top: 1.5rem;

    .divider {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      background-color: colors.$divider;
    }

    img {
      width: 3rem;
      height: 3rem;
    }
  }

  .description {
    margin-top: 1rem;
    font-size: 1.25rem;
    text-align: center;
  }

  .cdescription {
    font-size: 0.875rem;
    text-align: center;
    color: colors.$textsecondary;
  }

  .devices {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    width: 100%;
    margin-top: 1rem;

    .device {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      width: 100%;
      padding: 0.375rem 0;
      border-bottom: 1px solid colors.$divider;

      .icon_detail {
        @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);

        p {
          @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
          font-size: 0.875rem;
          font-weight: 400;

          span {
            font-size: 0.75rem;
            font-weight: 300;
            color: colors.$textsecondary;
          }
        }
      }

      button {
        @include mixins.useFlex(row, nowrap, center, center, 0);
        @include mixins.useButton();
      }
    }

    .email_device {
      border-top: 1px solid colors.$divider;
    }
  }

  .actions {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;

    .recover_action {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      width: 100%;
      height: 2.875rem;
      margin-top: 0.5rem;
      padding: 0.625rem;
      border-radius: 0.375rem;
      border: 1px solid rgba($color: colors.$divider, $alpha: 0.025);
      background-color: rgba($color: colors.$divider, $alpha: 0.025);

      p {
        font-size: 0.75rem;
        font-weight: bold;
        color: colors.$textsecondary;
      }

      span {
        @include mixins.useFlex(row, nowrap, center, center, 0);
        width: fit-content;
        height: 100%;
        padding: 0 0 0 0.5rem;
        border-left: 1px solid colors.$divider;
      }
    }
  }
}
