@use "../../../constants/colors" as colors;
@use "../../../constants/mixins" as mixins;

#networkpicker {
  padding: 1rem;

  .title {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    margin: 0 -1rem;
    padding: 0 1rem;
    padding-bottom: 0.375rem;
    border-bottom: 1px solid colors.$divider;
    font-size: 1.25rem;
    font-weight: 600;

    span {
      font-size: 0.9375rem;
      font-weight: 400;
      color: colors.$textsecondary;
    }
  }

  .pickers {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.5rem);
    margin-top: 0.875rem;
  }
}
