@use "../../../constants/colors" as colors;
@use "../../../constants/mixins" as mixins;

#swapcrypto {
  padding: 1rem;

  .network {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    margin-bottom: 0.875rem;

    img {
      width: 2rem;
      height: 2rem;
      object-fit: cover;
    }

    p {
      span {
        font-size: 0.875rem;
        font-weight: 600;
      }
    }
  }

  .sellcurr_ctr {
    width: 100%;
    padding: 0.5rem;
    padding-bottom: 0.875rem;
    border: 1px solid colors.$divider;
    border-radius: 0.875rem;
    background-color: colors.$divider;

    .curr_balance {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      width: 100%;

      .curr {
        @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
        padding: 0.25rem 0.375rem;
        border: 1px solid colors.$divider;
        border-radius: 0.5rem;
        background-color: colors.$divider;

        .currency_icon {
          @include mixins.useFlex(row, nowrap, center, center, 0);
          width: 1.5rem;
          height: 1.5rem;
          border-radius: 50%;
          font-size: 0.875rem;
          background-color: colors.$textprimary;
        }

        img {
          width: 1.5rem;
          height: 1.5rem;
          object-fit: contain;
          border-radius: 50%;
        }

        .currency_name {
          font-size: 0.875rem;
          font-weight: bold;
        }
      }
    }

    .input_ctr {
      @include mixins.useFlex(column, nowrap, center, center, 0);
      margin-top: 0.5rem;

      input {
        @include mixins.useOutline();

        & {
          font-size: 1.5rem;
          font-weight: bold;
          text-align: center;
          color: colors.$textprimary;

          &::placeholder {
            color: colors.$textsecondary;
          }

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      .sell_title {
        font-size: 0.75rem;
        font-weight: bold;
        color: colors.$textsecondary;
      }

      .max_out {
        @include mixins.useButton();

        & {
          margin-top: 0.5rem;
          padding: 0.125rem 0.75rem;
          border-radius: 1rem;
          font-size: 0.75rem;
          font-weight: 600;
          color: colors.$primary;
          background-color: colors.$textprimary;
        }
      }
    }
  }

  .switch_currenncy {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    width: 100%;

    button {
      @include mixins.useFlex(row, nowrap, center, center, 0);
      @include mixins.useOutline();

      & {
        width: 1.75rem;
        margin-top: -0.5rem;
        height: 1.75rem;
        border-radius: 50%;
        background-color: colors.$textprimary;
        z-index: 10;
        animation: animateswicth 0.25s ease-in-out;
      }
    }

    @keyframes animateswicth {
      from {
        transform: scale(1.25) rotate(360deg);
      }

      to {
        transform: scale(1) rotate(0deg);
      }
    }

    #rotate {
      @keyframes animateswicth {
        from {
          transform: scale(1.25) rotate(360deg);
        }

        to {
          transform: scale(1) rotate(0deg);
        }
      }
    }
  }

  .receivecurr_ctr {
    width: 100%;
    margin-top: -0.5rem;
    padding: 0.5rem;
    padding-top: 0.875rem;
    border: 1px solid colors.$divider;
    border-radius: 0.875rem;

    .curr {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
      width: fit-content;
      padding: 0.25rem 0.375rem;
      border: 1px solid colors.$divider;
      border-radius: 0.5rem;
      background-color: colors.$divider;

      .currency_icon {
        @include mixins.useFlex(row, nowrap, center, center, 0);
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        font-size: 0.75rem;
        background-color: colors.$textprimary;
      }

      img {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
        border-radius: 50%;
      }

      .currency_name {
        font-size: 0.75rem;
        font-weight: bold;
      }
    }

    .receive_qty {
      .qty {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        color: colors.$textprimary;
      }

      .receive_title {
        font-size: 0.75rem;
        font-weight: bold;
        color: colors.$textsecondary;
        text-align: center;
      }
    }
  }

  .tx-type {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0.5rem);
    margin-top: 1rem;
  }

  .submit-swap {
    @include mixins.useFlex(row, nowrap, center, center, 0.375rem);
    @include mixins.useButton();

    & {
      position: fixed;
      bottom: 1rem;
      left: 1rem;
      right: 1rem;
    }
  }
}

.sell-receive-tokens-ctr {
  width: 44vw;
  height: 40vh;
  max-height: 48vh;
  color: colors.$textprimary;

  div {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);
    padding: 0.5rem 0.375rem;
    border-bottom: 1px solid colors.$divider;

    img {
      width: 1.75rem;
      height: 1.75rem;
    }

    span {
      font-size: 0.875rem;
      font-weight: 600;
    }
  }
}
