@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#claimlendkeylink {
  height: 100vh;
  padding: 1rem;
  background-color: colors.$primary;
  color: colors.$textprimary;

  .icon_ctr {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    position: fixed;
    top: 1rem;
    right: 1rem;
    padding: 0.5rem;
    border: 1px solid colors.$divider;
    border-radius: 0.5rem;
    background-color: colors.$divider;
  }

  .received_key {
    @include mixins.useFlex(column, nowrap, center, center, 0.25rem);
    width: 100%;
    margin-top: 6rem;

    img {
      width: 4.5rem;
      height: 4.5rem;
      border-radius: 50%;
      object-fit: cover;
      object-position: center;
    }

    .key_val {
      @include mixins.useFlex(column, nowrap, center, center, 0);
      font-size: 0.875rem;
      font-weight: bold;

      span {
        font-size: 0.875rem;
        font-weight: 300;
        color: colors.$textsecondary;
      }
    }

    .desc {
      margin-top: 0.375rem;
      font-size: 0.75rem;
      text-align: center;

      span {
        font-weight: bold;
      }
    }

    .unlocks {
      margin-top: 1rem;
      font-size: 0.875rem;
    }
  }

  .pay_key_ctr {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    padding: 0.5rem;
    border: 1px solid colors.$divider;
    border-radius: 0.75rem;
    background-color: colors.$divider;

    .title {
      font-size: 0.875rem;

      span {
        font-weight: bold;
      }
    }

    .amount {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
      margin: 0.375rem 0;
      padding: 0.375rem 0;
      border: 1px dashed colors.$divider;
      border-left: 0;
      border-right: 0;

      img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        object-fit: cover;
      }

      p {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
        font-weight: bold;

        span {
          font-size: 0.875rem;
          font-weight: 300;
        }
      }
    }

    .deducts {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
      margin-bottom: 0.5rem;
      font-size: 0.75rem;
      font-weight: bold;
    }

    .submit-claim {
      @include mixins.useFlex(row, nowrap, center, center, 0.375rem);
      @include mixins.useButton();

      & {
        width: 100%;
        padding: 0.625rem;
        border-radius: 0.5rem;
      }
    }
  }
}
