@use '../../constants/colors' as colors;
@use '../../constants/mixins' as mixins;

#polymarket {
    padding: 1rem;


    .question {
        font-size: 1.25rem;
        font-weight: bold;
    }

    .form {
        margin: 0.875rem 0;
        border: 1px solid colors.$divider;
        border-radius: 0.375rem;

        .price {
            @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);
            padding: 0.5rem;

            img {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
            }

            span {
                font-size: 0.875rem;
                font-weight: 500;
            }
        }

        .actions {
            @include mixins.useFlex(row, nowrap, center, space-between, 0);
            padding: 0.5rem;
        }

        .limit_price {
            @include mixins.useFlex(row, nowrap, center, space-between, 0);
            padding: 0.5rem;

            span {
                font-size: 0.75rem;
                font-weight: 500;
            }

            input {
                @include mixins.useNumberInput();
                @include mixins.useButton();
                width: 46%;
                height: 2.25rem;
                padding: 0.375rem;
                border: 1px solid colors.$divider;
                border-radius: 0.25rem;
                font-size: 0.875rem;
                font-weight: 500;
                color: colors.$textprimary;

                &::placeholder {
                    color: colors.$textsecondary;
                }

                &:focus {
                    border-color: colors.$accent;
                }
            }
        }

        .to_win {
            @include mixins.useFlex(row, nowrap, center, space-between, 0);
            padding: 0 0.5rem;
            padding-bottom: 0.5rem;
            font-size: 0.875rem;
            font-weight: 500;

            span {
                @include mixins.useAltFont();
                font-size: 1rem;
                font-weight: bold;
                color: colors.$success;
            }
        }

        .submit_ctr {
            padding: 0.5rem;
        }
    }

    .rules {
        width: 100%;
        font-size: 0.75rem;
    }

}