@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#sendcryptocollectlink {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  padding-top: unset;

  .title_desc {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    margin: 0 -1rem;
    padding: 0 1rem;
    padding-bottom: 0.375rem;
    border-bottom: 1px solid colors.$divider;
    font-size: 1.125rem;
    font-weight: 600;

    span {
      font-size: 0.875rem;
      font-weight: 300;
    }
  }

  .currencies {
    @include mixins.useFlex(row, wrap, flex-start, space-between, 0.375rem);
    width: 100%;
    margin-top: 1rem;
  }

  .expiry-desc {
    @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
    margin: 0 -1rem;
    margin-top: 1rem;
    padding: 0 1rem;
    padding-top: 1rem;
    border-top: 1px solid colors.$divider;
    font-weight: 600;

    span {
      font-weight: 300;
    }
  }

  .timepickers {
    @include mixins.useFlex(row, wrap, flex-start, space-between, 0.375rem);
    width: 100%;
    margin-top: 0.5rem;
    padding-bottom: 4rem;
  }

  .actions {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3.5rem;
    padding: 0.5rem;
    border-top: 1px solid colors.$divider;
    background-color: colors.$primary;
    z-index: 1000;

    button {
      @include mixins.useFlex(row, nowrap, center, center, 0.375rem);
      @include mixins.useButton();

      & {
        width: 100%;
        height: 100%;
      }
    }
  }
}
