@use "../../constants/colors.scss" as colors;
@use "../../constants/mixins" as mixins;

#stakevault {
  padding: 1rem;
  margin-bottom: 4rem;

  .chain_ctr {
    @include mixins.useFlex(row, nowrap, center, flex-end, 0);

    .chain {
      padding: 0.25rem;
      border: 1px solid colors.$divider;
      border-radius: 0.25rem;
      font-size: 0.75rem;
      font-weight: bold;
      background-color: colors.$divider;

      span {
        padding-left: 0.25rem;
        border-left: 1px solid colors.$divider;
        color: colors.$textsecondary;
      }
    }
  }

  .stakedetails {
    width: 100%;
    margin-top: 1rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    p {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      padding: 0.625rem 0.5rem;
      border-bottom: 1px solid colors.$divider;
      font-size: 0.875rem;

      span {
        @include mixins.useAltFont();
        font-size: 1.125rem;
        font-weight: bold;
        text-align: right;
      }
    }

    .apy,
    .growth,
    .rebase {
      span {
        color: colors.$success;
      }
    }
  }

  .desc {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    text-align: center;
  }
}

.lstchart {
  width: 100%;
  height: 4rem;
}

.tokenapydetails {
  @include mixins.useFlex(row, wrap, flex-start, space-between, 0.375rem);
  width: 100%;
  margin: 0.5rem 0;

  & > div {
    @include mixins.useFlex(column, nowrap, flex-start, space-between, 0);
    width: 49%;
    height: 4.5rem;
    padding: 0.5rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    .title {
      text-transform: capitalize;
    }

    .value {
      @include mixins.useAltFont();
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
}
