@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#staketokens {
  margin-bottom: 4rem;

  .title {
    padding: 1rem;
    padding-bottom: 0.5rem;
    font-weight: 500;
    color: colors.$textsecondary;
  }

  .input_ctr {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    margin: 0 1rem;
    padding: 0.375rem 0.5rem;
    border: 1px solid colors.$divider;
    border-radius: 0.5rem;
    background-color: colors.$divider;

    input {
      @include mixins.useButton();
      @include mixins.useNumberInput();
      width: 60%;
      font-weight: bold;
      color: colors.$textprimary;

      &::placeholder {
        color: colors.$textsecondary;
      }
    }

    .selector_maxout {
      @include mixins.useFlex(row, nowrap, center, flex-end, 0.375rem);

      .crypto_selector {
        @include mixins.useFlex(row, nowrap, center, center, 0);
        width: 2.25rem;
        height: 2.25rem;
        border: 1px solid colors.$divider;
        border-radius: 50%;

        img {
          width: 80%;
          height: 80%;
          border-radius: 50%;
        }
      }

      .max_out {
        @include mixins.useButton();
        padding: 0.125rem 0.75rem;
        border-radius: 1rem;
        font-size: 0.75rem;
        font-weight: 600;
        color: colors.$primary;
        background-color: colors.$textprimary;
      }
    }
  }

  .available_balance {
    margin-top: 0.375rem;
    padding-left: 1rem;
    font-size: 0.75rem;
    font-weight: 500;
    color: colors.$textsecondary;

    span {
      @include mixins.useAltFont();
      text-transform: lowercase;
      color: colors.$textprimary;
    }
  }

  .info_stable {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.25rem);
    margin: 0.5rem 1rem;
    padding: 0.375rem;
    border-radius: 0.25rem;
    background-color: colors.$divider;

    span {
      font-size: 0.75rem;
      color: colors.$textsecondary;
    }
  }

  .receive_ctr {
    margin: 0 1rem;
    margin-top: 0.875rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;

    p {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      padding: 0.875rem 0.375rem;
      border-bottom: 1px solid colors.$divider;
      font-size: 0.75rem;

      span {
        @include mixins.useAltFont();
        font-size: 0.875rem;
        font-weight: 500;
      }
    }

    .l_token {
      border-bottom: 0;
    }
  }

  .info {
    margin-top: 0.875rem;
    padding: 0 1rem;

    .info_ctr {
      @include mixins.useFlex(row, nowrap, center, space-between, 0);
      margin-bottom: 0.875rem;
      @include mixins.useAltFont();
      font-size: 0.875rem;
      font-weight: bold;

      p {
        @include mixins.useFlex(row, nowrap, center, flex-start, 0.375rem);
        @include mixins.useBaseFont();
        font-weight: 500;
        color: colors.$textsecondary;

        span {
          @include mixins.useFlex(row, nowrap, center, center, 0);
          width: 1.875rem;
          height: 1.875rem;
          border-radius: 50%;
          background-color: colors.$divider;
        }
      }
    }
  }

  .source_key {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    margin: 0.5rem 1rem;
    padding: 0.25rem 0.375rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;
    background-color: colors.$divider;

    img {
      width: 3rem;
      height: 3rem;
      object-fit: cover;
    }

    p {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      font-size: 0.75rem;

      span {
        font-size: 0.875rem;
        font-weight: bold;
      }
    }
  }

  .btn_ctr {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.625rem;
    background-color: colors.$primary;
  }
}
