@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#businesshome {
  padding: 1rem;

  .title {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .desc {
    padding-bottom: 0.5rem;
    border-bottom: 1px solid colors.$divider;
    font-size: 0.875rem;
    color: colors.$textsecondary;
  }

  .startairdrop {
    @include mixins.useFlex(row, nowrap, center, space-between, 0);
    width: 100%;
    height: 4rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid colors.$divider;
    border-radius: 0.375rem;

    .img_desc {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.75rem);

      img {
        width: 2.75rem;
        height: 2.75rem;
        object-fit: contain;
        object-position: center;
      }

      p {
        @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
        font-size: 0.875rem;
        font-weight: 600;

        span {
          font-size: 0.75rem;
          font-weight: 300;
          color: colors.$textsecondary;
        }
      }
    }

    button {
      @include mixins.useFlex(column, nowrap, center, center, 0);
      @include mixins.useButton();
      width: 2.75rem;
      height: 2.75rem;
      border: 1px solid colors.$divider;
      border-radius: 50%;
      background-color: colors.$success;
    }
  }

  .avatrctr {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
}

.profile_actions {
  width: 100%;
  height: 100%;

  .action {
    @include mixins.useFlex(column, nowrap, flex-start, center, 0);
    padding: 0 0.5rem;
    height: 50%;

    p {
      @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
      font-size: 0.875rem;
      font-weight: 600;
      color: colors.$textprimary;
    }

    span {
      font-size: 0.75rem;
      color: colors.$textsecondary;
    }
  }

  .first {
    border-bottom: 1px solid colors.$divider;
  }
}
