@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

#startcampaign {
  padding: 1rem;

  .pageicon {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    width: 100%;

    img {
      width: 3rem;
      height: 3rem;
      margin-top: 3rem;
    }
  }

  .title_desc {
    @include mixins.useFlex(column, nowrap, center, center, 0);
    width: 100%;
    margin-top: 1rem;
    font-weight: 600;
    text-align: center;

    span {
      font-size: 0.875rem;
      font-weight: 300;
      color: colors.$textsecondary;
    }
  }

  .inputs {
    margin-top: 1rem;

    .title {
      @include mixins.useFlex(column, nowrap, flex-start, flex-start, 0);
      margin-bottom: 0.625rem;
      font-size: 0.75rem;
      font-weight: 500;

      span {
        font-weight: 300;
        color: colors.$textsecondary;
      }
    }
  }

  .campname {
    margin-top: 1.5rem;
  }

  .submit {
    @include mixins.useFlex(row, nowrap, center, center, 0);
    @include mixins.useButton();
    @include mixins.useBaseFont();
    width: 100%;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background-color: colors.$danger;
    font-size: 0.875rem;
    font-weight: 600;
    color: colors.$textprimary;
    transition: all ease-in-out 0.25s;

    &:disabled {
      background-color: colors.$divider;
      color: colors.$textsecondary;
    }
  }
}
