@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.chatinput {
  @include mixins.useFlex(row, nowrap, center, space-between, 0);
  width: 100%;
  height: 3.75rem;
  padding: 0.5rem;
  border-top: 1px solid colors.$divider;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: colors.$primary;

  .submitprompt {
    @include mixins.useFlex(column, nowrap, flex-end, flex-end, 0.25rem);
  }

  .promptinput {
    @include mixins.useBaseFont();
    @include mixins.useButton();
    width: 88%;
    height: 100%;
    border: 0;

    resize: none;
    font-family: "Open Sans", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    color: colors.$textprimary;

    &::placeholder {
      color: colors.$textsecondary;
    }
  }

  .submitprompt {
    @include mixins.useButton();
    @include mixins.useFlex(row, nowrap, center, center, 0);
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 0.5rem;
  }
}
