.chatinput,
.chatinput .submitprompt {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 0.25rem;
}

.chatinput {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;
  border-top: 1px solid var(--divider);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary);
}

.chatinput .promptinput {
  width: 90%;
  height: 100%;
  border: 0;
  outline: none;
  outline-color: transparent;
  resize: none;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--textprimary);
  background-color: transparent;
}

.chatinput .promptinput::placeholder {
  color: var(--textsecondary);
}

.chatinput .submitprompt {
  align-items: center;
  justify-content: center;
  gap: unset;
  width: 2.25rem;
  height: 2.25rem;
  border: 0;
  outline: none;
  outline-color: transparent;
  border-radius: 0.5rem;
  background-color: transparent;
}
