@use "../../constants/colors" as colors;
@use "../../constants/mixins" as mixins;

.botmessage {
  width: 100%;

  span {
    @include mixins.useFlex(row, nowrap, center, flex-start, 0.5rem);
    font-size: 0.75rem;
    font-weight: 500;

    img {
      width: 2rem;
      height: 2rem;
      border-radius: 0.25rem;
      object-fit: contain;
      object-position: center;
      background-color: colors.$textprimary;
    }
  }

  p {
    width: fit-content;
    max-width: 80%;
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
    background-color: colors.$divider;
  }
}

.usermessage {
  @include mixins.useFlex(row, nowrap, flex-start, flex-end, 0.25rem);
  width: 100%;

  p {
    width: fit-content;
    max-width: 80%;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 0.875rem;
    background-color: colors.$accent;
  }
}
